﻿@model AssetsInventory.ViewModels.CategoryDropdownViewModel

@Html.DropDownList("CategoryId",null, new { @style="width:400px;" }) <a href="javascript:void(0)" id="categorylookup" class="lookup">&nbsp;</a>
@Html.ValidationMessageFor(model => model.CategoryId)

<script type="text/javascript">
    $(document).ready(function () {
        $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });
        $(".lookup").hide();
        //subcategory
        loadSubcategory();
        loadManufacturer();

        $("#CategoryId").kendoDropDownList();
        //        var ddCategory = $("#CategoryId").data("kendoDropDownList");
        //        ddCategory.ul.width(400);
        $("#CategoryId").change(function () {
            loadSubcategory();
            loadManufacturer();
        });
    });
</script>