﻿@model AssetsInventory.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>Category</legend>
    <div class="display-label">Prefix</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prefix)
    </div>
    <div class="display-label">CategoryName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>



<fieldset>
    <legend>SubCategories</legend>

    <table id="subcat-grid">
    <tr>
        <th data-field="name">
            SubCategoryName
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model.SubCategories) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new {controller="SubCategory", id=item.SubCategoryId }) |
            @Html.ActionLink("Details", "Details", new {controller="SubCategory", id=item.SubCategoryId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { controller = "SubCategory", id = item.SubCategoryId }) 
        </td>
    </tr>
}

</table>
</fieldset>

<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id = Model.CategoryId }, new {@class="edit-lnk" }) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" }) |
    @Html.ActionLink(@AssetResource.Common.CreateNew + " " + @AssetResource.AssetResource.SubCategory, "AddSubCategory", "SubCategory", new { id = Model.CategoryId }, new { @class="save-btn" })
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("#subcat-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>
