﻿@model IEnumerable<AssetsInventory.Models.Category>

@{
    ViewBag.Title = @AssetResource.AssetResource.Category;
}

<h2>@AssetResource.AssetResource.Category</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class="create-btn"})
</p>
@*<table id="category-grid">
    <tr>
        <th data-field="prefix">
            Prefix
        </th>
        <th data-field="categoryname">
            CategoryName
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prefix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>*@

@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Edit"))/#= CategoryId #'>@AssetResource.Common.Edit</a> |
    <a href='@(Url.Action("Details"))/#= CategoryId #'>@AssetResource.Common.Details</a> |
    <a href='@(Url.Action("Delete"))/#= CategoryId #'>@AssetResource.Common.Delete</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@(Url.Action("List", "Category"))',
                    dataType: "json"
                }
            },
            pageSize: @(ViewData["pagesize"]),
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });

        $(document).ready(function () {



            $("#grid").kendoGrid({
                dataSource: sharableDataSource,
                height: 470,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                        
                        {
                            field: "Prefix",
                            title: "Prefix"
                        },
                        {
                            field: "CategoryName",
                            title: "CategoryName"
                        },
                         {
                             field: "CategoryId",
                             title: " ",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         }

                        ]
            });




        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#category-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>