﻿@model AssetsInventory.ViewModels.ResourceEditPageViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    
    Html.RenderAction("RenderLanguageSelect","LanguageResource",new { action = ViewBag.FormAction });
    
    @Html.HiddenFor(model=>model.ResourceFileName)
    @Html.HiddenFor(model=>model.LanguagePrefix)
    foreach (var item in Model.Resources)
    {
        <div>
            <div><label>@(item.Key)</label></div>
            <input type="text" name="@(item.Key)" value="@(item.Value)" />
        </div>
    }
    
    <input type="submit" value="@AssetResource.Common.Submit" />

}


