﻿@model AssetsInventory.ViewModels.ResourceIndexPageViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Resource Files</h2>

<table>
    <thead>
        <tr>
            <th>Resource File</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in collection)
        {
           <tr>
            
            <td>@Html.ActionLink(item,"Edit")</td>
        </tr> 
        }
        
    </tbody>
</table>
