﻿@model string


<div>
    Select Language : @Html.DropDownList("LanguageSelect")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#LanguageSelect").change(function () {
            var url = '@(Url.Action(Model,"LanguageResource"))';
            window.location = url + "/" + $("#LanguageSelect").val();
        });
    });
</script>