﻿@model AssetsInventory.ViewModels.ResourceEditPageViewModel
@{
    ViewBag.Title = "Mail Templates";
}

@section Head
{

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
}

<h2>Mail Templates</h2>

@using (Html.BeginForm())
{
    
    Html.RenderAction("RenderLanguageSelect","LanguageResource",new { action = ViewBag.FormAction });
    
    @Html.HiddenFor(model=>model.ResourceFileName)
    @Html.HiddenFor(model=>model.LanguagePrefix)
    foreach (var item in Model.Resources)
    {
        <div>
            <div><label>@(item.Key)</label></div>
            <textarea name="@(item.Key)" id="@(item.Key)">@(item.Value)</textarea>
            <script type="text/javascript">
            //<![CDATA[
                CKEDITOR.replace('@(item.Key)',
            {
                toolbar: [{ name: 'document', items: ['Source', '-', 'Save', 'NewPage', 'DocProps', 'Preview', 'Print', '-', 'Templates'] },
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat']}],
                uiColor: '#EAEAEC'
            });
            //]]>

        </script>
        </div>
    }
    
    <input type="submit" value="@AssetResource.Common.Submit" />

}


