﻿@model AssetsInventory.Models.DocumentType

@{
    ViewBag.Title = "DocumentType";
}

<h2>DocumentType</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>DocumentType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentTypeName)
            @Html.ValidationMessageFor(model => model.DocumentTypeName)
        </div>

  @*      <div class="editor-label">
            @Html.LabelFor(model => model.DateModified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateModified)
            @Html.ValidationMessageFor(model => model.DateModified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateAdded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateAdded)
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddedById)
            @Html.ValidationMessageFor(model => model.AddedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedById)
            @Html.ValidationMessageFor(model => model.ModifiedById)
        </div>*@

        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}


