﻿@model AssetsInventory.Models.DocumentType

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>DocumentType</legend>

    <div class="display-label">DocumentTypeName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentTypeName)
    </div>

    @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.DocumentTypeId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
