﻿@model AssetsInventory.Models.DocumentType

@{
    ViewBag.Title = "DocumentType";
}

<h2>DocumentType</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>DocumentType</legend>

        @Html.HiddenFor(model => model.DocumentTypeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentTypeName)
            @Html.ValidationMessageFor(model => model.DocumentTypeName)
        </div>

        

        
    </fieldset>
    <p>
            <input type="submit" value="Save" class="save-btn"/>
             @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
    @Html.Partial("CreatedValues")
}

