﻿@model IEnumerable<AssetsInventory.Models.DocumentType>

@{
    ViewBag.Title = "DocumentType";
}

<h2>DocumentType</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="documenttype-grid">
    <tr>
        <th data-field="name">
            DocumentTypeName
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentTypeName)
        </td>
     
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.DocumentTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocumentTypeId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.DocumentTypeId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#documenttype-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>