﻿#header h2
{
    float:left;
}

textarea 
{
    
width: 200px;
height: 100px;
padding: 5px;
}

textarea.comment 
{
    
width: 390px;
height: 200px;
padding: 5px;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea, select {
margin: 0.5em 0;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea {
background-color: white;
border: 1px solid #BBB;
color: black;
border-image: initial;
}

.editor-field
{
    margin-bottom:10px;
    overflow:hidden;

}
.display-label
{
margin: 1em 0 0 0;
 font-weight:bold;
 font-size:larger;
}

 .editor-label {
margin: 1em 0 0 0;
float:left;
width:200px;
}



label {
font-weight: bold;
}

.checkboxList
{
    float:left;
    padding:0;
    margin:0;
}

.checkboxList ul
{
    padding:0;
    margin:17px 0 0 0;
    list-style-type:none;
}


.display-field, .editor-field {
margin: 0.5em 0 0 0;
}

fieldset
{
    margin:1em 1em;
    padding:1em 1em;
}


.emptymsg
{
    padding:0.7em;margin:30px auto;width:300px;
    text-align:left;
    
}

/*statuses */
.status-transferrequested
{
    color:#FFFF55;
    font-weight:bold;
    font-size:medium;
    background-color:#878787;
}

.status-discrecpancy
{
    color:#BF0B12;
    font-weight:bold;
    font-size:medium;
/*    background-color:#fff;*/
}

.status-default
{
    color:#fff;
    font-weight:bold;
    font-size:medium;
    background-color:#55FF55;
/*    background-color:#fff;*/
}

.statusindex
{
    float:none;
    overflow:hidden;
    word-wrap: break-word;
    display:table-cell;
}

.statusindex-transferrequested
{
    color:#000;
    background-color:#FFFFD4;
}

.statusindex-discrecpancy
{
    color:#000;
    background-color:#BF0B12;
}

.statusindex-default
{
    color:#000;
    background-color:#AAFFAA;
/*    background-color:#fff;*/
}

.mtr-left
{
    float:left;
    width:48%;
}

.mtr-right
{
    float:left;
    width:48%;
}

footer
{
    border-top: 1px solid #333;
    background: #4D4D4D;
    color: gray;
    clear: both;
    position: relative;
    height: 101px;
    margin-top: -102px;
}


footer .centerWrap {
max-width: 1230px;
margin-left: auto;
margin-right: auto;
}

footer ul {
float: left;
list-style: none;
min-width:960px;
margin: 1.3em 0 0;
padding:0;
}

footer li {
display: inline;
margin: 0 .6em 0 0;
padding: 0;
}

footer a {
color: white;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}

#exceptFooter {
padding-bottom: 100px;
}


#applogo {
display:block;
height: 36px;
background: no-repeat url('logo/logo.jpg');
text-indent: -4000px;
overflow: hidden;
}

img.logo {
display:block;
text-indent: -4000px;
overflow: hidden;
}


.validation-summary-errors,.validation-summary-valid
{
    background-color:#F7D9D9;
    padding:10px;
}

.status-black
{
     color:#000;

}
.status-green
{
    color:Green;

}

.status-red
{
    color:Red;

}

.error,.field-validation-error{color:red}

.input-validation-valid,.field-validation-valid,.validation-summary-valid{display:none}
.input-validation-error{background-color:#fee;border:1px solid red; outline: none}
.input-validation-error:focus{outline:none}
input[type="text"].input-validation-error:focus, select.input-validation-error:focus{outline:none}

.validation-summary-errors,.validation-summary-valid{color:red}
.validation-summary-errors span,.validation-summary-valid span{font-weight:700}
.validation-summary-errors ul,.validation-summary-valid ul{list-style:disc inside}
.validation-summary-errors ul li,.validation-summary-valid ul li{font-weight:normal}
.validation-summary-errors ul li label, .validation-summary-errors ul li span,.validation-summary-valid ul li label,.validation-summary-valid  ul li span{display:inline !important; font-weight:normal}