﻿@model AssetsInventory.Models.Caution

@{
    ViewBag.Title = @AssetResource.MaterialTransferResource.Cautions;
}

<h2>@AssetResource.MaterialTransferResource.Cautions</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>Caution</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CautionName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CautionName)
            @Html.ValidationMessageFor(model => model.CautionName)
        </div>

      @*  <div class="editor-label">
            @Html.LabelFor(model => model.DateModified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateModified)
            @Html.ValidationMessageFor(model => model.DateModified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateAdded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateAdded)
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddedById)
            @Html.ValidationMessageFor(model => model.AddedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedById)
            @Html.ValidationMessageFor(model => model.ModifiedById)
        </div>*@

       
    </fieldset>
     <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}
