﻿@model AssetsInventory.Models.Caution

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>Caution</legend>

    <div class="display-label">CautionName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CautionName)
    </div>

     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.CautionId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
