﻿@model IEnumerable<AssetsInventory.Models.Caution>

@{
    ViewBag.Title = @AssetResource.MaterialTransferResource.Cautions;
}

<h2>@AssetResource.MaterialTransferResource.Cautions</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="caution-grid">
    <tr>
        <th data-field="name">
            CautionName
        </th>
        @*<th data-field="">
            DateModified
        </th>
        <th data-field="">
            DateAdded
        </th>
        <th data-field="">
            AddedById
        </th>
        <th data-field="">
            ModifiedById
        </th>*@
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CautionName)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedById)
        </td>*@
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.CautionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CautionId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.CautionId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#caution-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>
