﻿@model AssetsInventory.Models.TransferReason

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>TransferReason</legend>

    <div class="display-label">TransferReasonName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransferReasonName)
    </div>

    @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.TransferReasonId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
