﻿@model IEnumerable<AssetsInventory.Models.TransferReason>

@{
    ViewBag.Title = @AssetResource.MaterialTransferResource.TransferReason;
}

<h2>@AssetResource.MaterialTransferResource.TransferReason</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="transferreason-grid">
    <tr>
        <th data-field="name">
            TransferReasonName
        </th>
       @* <th data-field="">
            DateModified
        </th>
        <th data-field="">
            DateAdded
        </th>
        <th data-field="">
            AddedById
        </th>
        <th data-field="">
            ModifiedById
        </th>*@
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransferReasonName)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedById)
        </td>*@
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.TransferReasonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransferReasonId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.TransferReasonId })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#transferreason-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>