﻿@model AssetsInventory.Models.Location



<h2>Create</h2>



@using (Ajax.BeginForm(new AjaxOptions { OnSuccess="" , OnFailure="" , InsertionMode = InsertionMode.Replace }))
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>Location</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocationName)
            @Html.ValidationMessageFor(model => model.LocationName)
        </div>

        <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
        </p>
    </fieldset>
}


<script type="text/javascript">

   

</script>