﻿@model AssetsInventory.Models.Location

@{
	ViewBag.Title = @AssetResource.AssetResource.Location;
}

<h2>@AssetResource.AssetResource.Location</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")

	 
	<fieldset>
		<legend>Location</legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.CostCenterCode, "Location ID")
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.CostCenterCode)
			@Html.ValidationMessageFor(model => model.CostCenterCode)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.LocationName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.LocationName)
			@Html.ValidationMessageFor(model => model.LocationName)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.CountryId,@AssetResource.Common.CountryName)
		</div>
		<div class="editor-field">
			@Html.DropDownList("CountryId", null, new { @style = "width:400px;" })
			@Html.ValidationMessageFor(model => model.CountryId)
		</div>

		
	</fieldset>
	<p>
			<input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
			 @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
		</p>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#CountryId").kendoDropDownList();
    });
</script>


