﻿@model AssetsInventory.Models.Location

@{
    ViewBag.Title = @AssetResource.AssetResource.Location;
}

<h2>@AssetResource.AssetResource.Location</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    if (TempData["ErrorMsg"] != null)
	{ 
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					@(TempData["ErrorMsg"].ToString())</p>
				</div>
    }
    <fieldset>
        <legend>Location</legend>

        @Html.HiddenFor(model => model.LocationId)
        <div class="editor-label">
            @Html.LabelFor(model => model.CostCenterCode, "Location ID")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostCenterCode)
            @Html.ValidationMessageFor(model => model.CostCenterCode)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LocationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocationName)
            @Html.ValidationMessageFor(model => model.LocationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryId,@AssetResource.Common.CountryName)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryId",null, new { @style="width:400px;" })
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>

        
    </fieldset>
    <p>
            <input type="submit" value="Save" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
    @Html.Partial("CreatedValues")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#CountryId").kendoDropDownList();
    });
</script>

