﻿@model IEnumerable<AssetsInventory.Models.Location>

@{
    ViewBag.Title = @AssetResource.AssetResource.Location;
}

<h2>@AssetResource.AssetResource.Location</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="location-grid">
    <tr>
        <th data-field="name">
            @AssetResource.AssetResource.Location
        </th>
        <th data-field="costcenter">
            Location Id
        </th>
        <th data-field="country">
            Country
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCenterCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.LocationId }) |
            @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id = item.LocationId })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#location-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>