﻿@model AssetsInventory.ViewModels.LocationDropdownViewModel

@*@Html.DropDownList("LocationID", null, string.Empty, new { name = Model.ControlName, @id = Model.ControlName }) *@
@*@Html.DropDownList(Model.ControlName,(IEnumerable<SelectListItem>) ViewBag.LocationID, string.Empty, new { name = Model.ControlName, @id = Model.ControlName })*@ 
@*<a href="javascript:void(0)" id="locationlookup" class="lookup">&nbsp;</a>*@
@*@Html.ValidationMessageFor(model => model.ControlName)*@
<input id="@(Model.ControlName)" value="@(Model.SelectedId ?? 0)" />
<script type="text/javascript">

    $(document).ready(function () {
    @if (Model.SelectedId.HasValue)
    {
        if (Model.CountryId.HasValue)
        {
        <text>
           var queryurl ='@(Url.Action("LocationDropdownList", "Location", new { id = Model.SelectedId,countryid = Model.CountryId }))';  
        </text>
        }
        else
        {
        <text>
         var queryurl ='@(Url.Action("LocationDropdownList", "Location",new { id = Model.SelectedId}))';
        </text>
        }
    }
    else
    {
        if (Model.CountryId.HasValue)
        {
        <text>
           var queryurl ='@(Url.Action("LocationDropdownList", "Location", new { countryid = Model.CountryId }))';  
        </text>
        }
        else
        {
        <text>
         var queryurl ='@(Url.Action("LocationDropdownList", "Location"))';
        </text>
        }
    }
        
         var sharableDataSource@(Model.ControlName) = new kendo.data.DataSource({
            transport: {
                read: {
                    url: queryurl,
                    dataType: "json"
                }
            }
        });

        $("#@(Model.ControlName)").kendoDropDownList({
            autoBind: true,
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: sharableDataSource@(Model.ControlName)
        });

        




      $("#@(Model.ControlName)").attr("name", "@(Model.ControlName)");
//        $("#@(Model.ControlName)").kendoDropDownList();
        
//        $("#@(Model.ControlName)").toggleClass("iscountry");
//        $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });
//        $(".lookup").hide();
//        //location opener
//        $("#locationlookup").click(function () {
//            var url = '@(Url.Action("CreateDialog","Location"))';
//            $("#create-dialog").dialog("option", "height", 530);
//            $("#create-dialog").load(url);
//            $("#create-dialog").dialog("open");


//            $("#create-dialog:ui-dialog").dialog("destroy");

//            $("#dialog-modal").dialog({
//                height: 140,
//                modal: true
//            });

//            return false;
//        });
    });
</script>