﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}

<h2>Tuscany Asset Management</h2>
<p>@AssetResource.Common.Welcome</p>
<br />

@if (Request.IsAuthenticated){
Html.RenderAction("MaterialTransferinTransit");
 }
 
 <script type="text/javascript">
     $(document).ready(function () {
        
     });
 </script>




