﻿@model IEnumerable<AssetsInventory.DTO.MaterialTransferDTO>



<h2>@AssetResource.MaterialTransferResource.ReceivingVerification</h2>






@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Edit"))/#= MaterialTransferId #'>@AssetResource.Common.Edit</a> |
    <a href='@(Url.Action("Print"))/#= MaterialTransferId #'>@AssetResource.Common.Details</a> |
    <a href='@(Url.Action("Delete"))/#= MaterialTransferId #'>@AssetResource.Common.Delete</a>
</script>
<script id="actiontemplate" type="text/x-kendo-template">
    # if (Status == 'In Transit') {#
    <a href='@(Url.Action("Receive","MaterialTransfer"))/#= MaterialTransferId #'>Receive</a> 
    #} else {#
    <a href='@(Url.Action("Edit","MaterialTransfer"))/#= MaterialTransferId #'>View</a> 
    # }#
</script>
<script id="statustemplate" type="text/x-kendo-template">
    #
    var statuscss = "normal";
    switch (Status) {
        case "TransferRequested":
        case "Transit":
        case "In Transit":
            statuscss = "statusindex-transferrequested";
            break;
        case "Discrepancy":
            statuscss = "statusindex-discrecpancy";
            break;
        default:
            statuscss = "statusindex-default";
            break;

    }
    #
    <div id='statusindex#= MaterialTransferId #' class='statusindex #= statuscss #'>
    #= Status #
    </div>
   

</script>
 <script type="text/javascript">
     var dateRegExp = /^\/Date\((.*?)\)\/$/;

     function toDate(value) {
         if (value == null) return "";
         var date = dateRegExp.exec(value);
         return new Date(parseInt(date[1]));
     }

     var sharableDataSource = new kendo.data.DataSource({
         transport: {
             read: {
                 url: '@(Url.Action("MaterialTransferActionList", "Home"))',
                 dataType: "json"
             }
         },
         pageSize: @(ViewData["pagesize"]),
         schema: {
             data: function (result) {
                 return result;
             },
             total: function (result) {
                 return result.length;
             }
         },
         change: function () {
             var info = $(".k-grid-pager .info");

             // if it does not exist yet - create it
             if (!info.length) {
                 info = $('<div class="info"/>').appendTo(".k-grid-pager");
             }

             // set the text of the "info" div
             info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
         }
     });

     $(document).ready(function () {
         function mtfgridBound(arg) {
                var count = @(Model.Count());
                if (count == 0)
                {
                    var elem = "<div class='ui-state-error ui-corner-all emptymsg'>" + 
                    "<span class='ui-icon ui-icon-alert' style='float: left; margin-right: .3em;'>" + 
                    "</span>@(AssetResource.MaterialTransferResource.VerificationEmptyMessage)</div>"
                    $(".k-grid-content").append(elem).css("text-align","center");
                }
            }


         $("#grid").kendoGrid({
             dataSource: sharableDataSource,
             height: 320,
             filterable: true,
             sortable: true,
             pageable: true,
             dataBound: function (e) {

                 $(".statusindex").each(function () {
                     var td = $(this).parent().closest('td');
                     var div = td.find('div.statusindex');
                     td.addClass(div.attr('class'));
                 });
                 mtfgridBound();

             },
             columns: [
                        {
                            field: "MaterialTransferNumber",
                            title: "MT #"
                        },
                        {
                            field: "TransferTypeName",
                            title: "@(AssetResource.MaterialTransferResource.TransferType)"
                        },
                        {
                            field: "FromCountry",
                            title: "@(AssetResource.MaterialTransferResource.FromCountry)"
                        },
                        {
                            field: "ToCountry",
                            title: "@(AssetResource.MaterialTransferResource.ToCountry)"
                        },
                        {
                            field: "DateAdded",
                            title: "@(AssetResource.MaterialTransferResource.RequestDate)",
                            template: '#= kendo.toString(toDate(DateAdded), "MM/dd/yyyy")#'
                        },
                         {
                             field: "Status",
                             title: "@(AssetResource.MaterialTransferResource.ActionTaken)",
                             template: kendo.template($("#statustemplate").html())
                         },
                         {
                             field: "MaterialTransferId",
                             title: " ",
                             template: kendo.template($("#actiontemplate").html()),
                             filterable: false,
                             sortable: false
                         }


                        ]
         });




     });
            </script>