﻿@{
    ViewBag.Title = "Related Tables";
    
}
<h2>Related Fields</h2>

<ul>
    <li>@Html.ActionLink("Categories","Index","Category")</li>
    <li>@Html.ActionLink("SubCategories","Index","SubCategory")</li>
    <li>@Html.ActionLink("Locations","Index","Location")</li>
    <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturer")</li>
    <li>@Html.ActionLink("ModelTypes", "Index", "ModelType")</li>
    <li>@Html.ActionLink("ConditionEvaluation", "Index", "ConditionEvaluation")</li>
    <li>@Html.ActionLink("WeightUOM", "Index", "WeightUOM")</li>
    <li>@Html.ActionLink("DimensionUOM", "Index", "DimensionUOM")</li>
@*    <li>@Html.ActionLink("ShippingInfo", "Index", "ShippingInfo")</li>*@
    <li>@Html.ActionLink("PurchaseCurrency", "Index", "PurchaseCurrency")</li>
@*    <li>@Html.ActionLink("PurchaseInfo", "Index", "PurchaseInfo")</li>*@
<li>@Html.ActionLink("Countries", "Index", "Country")</li>
<li>@Html.ActionLink("Document Types", "Index", "DocumentType")</li>
 <li>@Html.ActionLink("Users", "Index", "User")</li>   
 <li>@Html.ActionLink("Approving Users", "Index", "ApprovingUser")</li>  
 <li>@Html.ActionLink("Notification Users", "Index", "NotificationUser")</li>   
 <li>@Html.ActionLink("Upload Logo", "UploadLogo", "Home")</li>   
    
</ul>


<h2>Super Admin Tables</h2>

<ul>
    <li>@Html.ActionLink("Transfer Types","Index","TransferType")</li>
    <li>@Html.ActionLink("Transfer Reasons","Index","TransferReason")</li>
    <li>@Html.ActionLink("Cautions","Index","Caution")</li>
    <li>@Html.ActionLink("Languages","Index","Language")</li>
</ul>


<h2>Resource Files</h2>
<ul>
    <li>@Html.ActionLink("Common", "Common", "LanguageResource")</li>
    <li>@Html.ActionLink("Asset", "Asset", "LanguageResource")</li>
    <li>@Html.ActionLink("Material Transfer", "MaterialTransfer", "LanguageResource")</li>
    <li>@Html.ActionLink("Mail Templates", "EmailTemplates", "LanguageResource")</li>
    
</ul>

