﻿@using AssetsInventory.ViewModels
@{
    ViewBag.Title = "Upload Logo";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>Upload Logo</legend>

        <div class="editor-label">
            Logo File
        </div>
        <div class="editor-field">
            <input name="attachments" id="attachments" type="file" />
        </div>

       



        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Submit" class="save-btn" />
                @Html.ActionLink(@AssetResource.Common.HomeMenu, "Index", null, new { @class = "redirect-lnk" })
        </p>
    
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#attachments").kendoUpload();

        $("#SelectedStatus").kendoDropDownList();
    });
</script>
