﻿@model AssetsInventory.Models.PhotoArchive

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("AssetCreate", "PhotoArchive", FormMethod.Post, new { id = Model.AssetId, enctype = "multipart/form-data" }))
{ 
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>PhotoArchive</legend>
        @Html.HiddenFor(model => model.AssetId)
        <div class="editor-label">
            <label for="file">Filename:</label>
        </div>

        <div class="editor-field">
        <input type="file" name="file" id="file" />
        </div>

      
    </fieldset>
        <p>
            <input type="submit" value="Save" class="save-btn"/>
             @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = Model.AssetId }, new { @class = "redirect-lnk" })
        </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#file").kendoUpload({ multiple: false });


    });
</script>