﻿@model AssetsInventory.Models.PhotoArchive

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PhotoArchive</legend>
    @Html.HiddenFor(model => model.AssetId);
    <div class="display-label">DateUploaded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUploaded)
    </div>

    <div class="display-label">PhotoFileName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhotoFileName)
    </div>

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
         @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = Model.AssetId }, null)

    </p>
}
