﻿@model AssetsInventory.Models.PhotoArchive

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>PhotoArchive</legend>
         @Html.HiddenFor(model => model.AssetId)
        @Html.HiddenFor(model => model.PhotoArchiveId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DateUploaded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateUploaded)
            @Html.ValidationMessageFor(model => model.DateUploaded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhotoFileName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PhotoFileName, new { @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.PhotoFileName)
        </div>


    </fieldset>
    @Html.Partial("CreatedValues")
        <p>
            <input type="submit" value="Save" class="save-btn"/>
             @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = Model.AssetId }, new { @class = "redirect-lnk" })
        </p>
}


