﻿@model IEnumerable<AssetsInventory.Models.PhotoArchive>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table>
    <tr>
        <th>
            DateUploaded
        </th>
        <th>
            PhotoFileName
        </th>
        <th>
            Asset
        </th>
        <th>
            DateModified
        </th>
        <th>
            DateAdded
        </th>
        <th>
            AddedById
        </th>
        <th>
            ModifiedById
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateUploaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asset.AssetUniqueId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedById)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.PhotoArchiveId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoArchiveId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.PhotoArchiveId })
        </td>
    </tr>
}

</table>
