﻿@model AssetsInventory.Models.NotificationUser

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>ApprovingUser</legend>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">TransferType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransferType.TransferTypeName)
    </div>

    <div class="display-label">Country</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country.CountryName)
    </div>
     <div class="display-label">Transfer Reasons</div>
    <div class="display-field">
    @if (Model.TransferReasons != null && Model.TransferReasons.Count > 0)
    { 
        <ul>
            @foreach (var item in Model.TransferReasons)
            {
                <li>@item.TransferReasonName</li>
            }
            
        </ul>
    }
    </div>
     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.NotificationUserId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
