﻿@model AssetsInventory.Models.NotificationUser
@using AssetsInventory.Utilities
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>ApprovingUser</legend>

        @Html.HiddenFor(model => model.NotificationUserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransferTypeId, "TransferType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransferTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.TransferTypeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TransferReasons, "TransferReasons")
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("transferReasonIds", (IEnumerable<SelectListItem>)ViewBag.TransferReasonIds))
            @Html.ValidationMessageFor(model => model.TransferReasons)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CountryId, "Country")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CountryId", String.Empty)
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>

        @Html.Partial("CreatedValues")

        
    </fieldset>
    <p>
            <input type="submit" value="Save" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserId").kendoDropDownList();
        $("#TransferTypeId").kendoDropDownList();
        $("#CountryId").kendoDropDownList();
    });

    $("form").validate({
        rules: {
            transferReasonIds: {
                required: true,
                minlength: 1
            }
        },
        messages: {
            transferReasonIds: "Please specify Transfer Reason"
        },
        errorLabelContainer: ".validation-summary-valid",
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>