﻿@model AssetsInventory.Models.PurchaseInfo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>PurchaseInfo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AFENumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AFENumber)
            @Html.ValidationMessageFor(model => model.AFENumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialReqNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialReqNumber)
            @Html.ValidationMessageFor(model => model.MaterialReqNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PONumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PONumber)
            @Html.ValidationMessageFor(model => model.PONumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vendor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vendor)
            @Html.ValidationMessageFor(model => model.Vendor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceNumber)
            @Html.ValidationMessageFor(model => model.InvoiceNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchasePrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchasePrice)
            @Html.ValidationMessageFor(model => model.PurchasePrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseCurrencyId, "PurchaseCurrency")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PurchaseCurrencyId", String.Empty)
            @Html.ValidationMessageFor(model => model.PurchaseCurrencyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div>

        <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
        </p>
    </fieldset>
}

<div>
        @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", new { id = ViewBag.AssetId })
</div>
