﻿
<input type="text" id="textassetsearch" />
<div id="assetgridsearch"></div>
<div class="form-action" style="clear:both; margin-top:50px;">
    <button type="button" id="btnAssetSelect">Select</button>
    <button type="button" id="btnCancelAssetSearch">Cancel</button>
</div>
<script id="gridtemplate" type="text/x-kendo-template">
    <input type="checkbox" value="#= AssetId #" name="assetcheck"  />
</script>



<script id="rowTemplate" type="text/x-kendo-tmpl">
    
<tr>
    <td><input type="checkbox" value="${ AssetUniqueId }" class='chkasset' /></td>
    <td> ${ AssetUniqueId }</td>
    <td> ${ Category }</td>
    <td> ${ SubCategory }</td>
    <td> ${ SerialNumber }</td>
</tr>

</script>


<script type="text/javascript">
    var searchurl = '@(Url.Action("SearchList", "Asset"))';
    $(document).ready(function () {

        $("#btnCancelAssetSearch").click(function () {
            var undo = $("#searchasset");
            undo.show()
            var window = $("#searchassetwindow");
            window.data("kendoWindow").close();
        });
        $("#btnAssetSelect").click(function () {
            var url = '@(Url.Action("RenderMaterialTransferAssets", "MaterialTransfer"))';
            var assetcount = $("#materialtransferasset_tbl tbody tr").length + 1;


            var cnkassets = $(".chkasset:checked");

            var arrAssets = new Array();
            for (var i = 0; i < cnkassets.length; i++) {

                arrAssets.push($(cnkassets[i]).val().toString());

            }
            //var assets = JSON.stringify(arrAssets);



            $.ajax({
                type: "POST",
                url: url,
                data: { assets: arrAssets, id: assetcount },
                success: function (data) {

                    $('#materialtransferasset_tbl tbody').append(data);

                },
                dataType: "html",
                traditional: true
            });








        });

        var assetsearchDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    //url: searchurl + "/?text=" + $("#textassetsearch").val(),
                    url: searchurl,
                    dataType: "json"
                }
            },
            pageSize: 20,
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });





        $("#assetgridsearch").kendoGrid({
            dataSource: assetsearchDataSource,
            height: 400,
            rowTemplate: kendo.template($("#rowTemplate").html()),
            dataBound: function (e) {

                $(".statusindex").each(function () {
                    var td = $(this).parent().closest('td');
                    var div = td.find('div.statusindex');
                    td.addClass(div.attr('class'));
                });




            },
            change: function (e) {

            },
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [
                         {
                             field: "AssetId",
                             title: " ",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         },
                        {
                            field: "AssetUniqueId",
                            title: "AssetId",
                            width: 70
                        },
                        {
                            field: "Category",
                            title: "@(AssetResource.AssetResource.Category)"
                        },
                        {
                            field: "SubCategory",
                            title: "@(AssetResource.AssetResource.SubCategory)"
                        },
                        {
                            field: "SerialNumber",
                            title: "@(AssetResource.AssetResource.SerialNumber)"
                        }


                        ]
        });


        $("#textassetsearch").keyup(function () {
            var txtsearch = $(this);
            if (txtsearch.val().length >= 3) {

                var datasource = $("#assetgridsearch").data("kendoGrid").dataSource;
                datasource.transport.options.read.url = searchurl + "?text=" + txtsearch.val() + "&location=" + $("#FromCountryId").val();
                datasource.read();
                //  datasource.query({ text: txtsearch.val() });
                //assetsearchDataSource.query({ text: txtsearch.val() });
                // assetsearchDataSource.read();
            }
        });


    });
</script>
