﻿@model AssetsInventory.Models.Asset

<div id="create-dialog"></div>           
<fieldset>
        <legend>Asset</legend>

        @if (Model != null)
        {
        <div class="editor-label">
            @Html.LabelFor(model => model.AssetUniqueId, @AssetResource.AssetResource.AssetUniqueid)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AssetUniqueId, new { @readonly = "readonly" })
        </div>
        }
        
 
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsPart) @Html.LabelFor(model => model.IsPart, @AssetResource.AssetResource.IfPartLabel)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, @AssetResource.AssetResource.Category)
        </div>
        <div class="editor-field">
        <span id="categorydiv"></span>
        @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategoryId, @AssetResource.AssetResource.SubCategory)
        </div>
        <div class="editor-field">
        <span id="subcategorydiv"></span>
        @Html.ValidationMessageFor(model => model.SubCategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description, @AssetResource.AssetResource.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class = "comment" })
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.ManufacturerId, @AssetResource.AssetResource.Manufacturer)
        </div>
        <div class="editor-field" >
        <span id="manufacturerdiv"></span>
        @Html.ValidationMessageFor(model => model.ManufacturerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelTypeID, @AssetResource.AssetResource.ModelType)
        </div>
        <div class="editor-field">
            <span id="modeltypediv"></span>
        @Html.ValidationMessageFor(model => model.ModelTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNumber, @AssetResource.AssetResource.SerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNumber)
            @Html.ValidationMessageFor(model => model.SerialNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArrangementNumber, @AssetResource.AssetResource.ArrangementNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArrangementNumber)
            @Html.ValidationMessageFor(model => model.ArrangementNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocationID, @AssetResource.AssetResource.Location)
        </div>
        <div class="editor-field">
            <span id="locationdiv"></span>
         @Html.ValidationMessageFor(model => model.LocationID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetPurchasePrice, @AssetResource.AssetResource.PurchasePrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetPurchasePrice)
            @Html.ValidationMessageFor(model => model.AssetPurchasePrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FairMarketPrice, @AssetResource.AssetResource.FairMarketPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FairMarketPrice)
            @Html.ValidationMessageFor(model => model.FairMarketPrice)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.MaterialTransferNumber, @AssetResource.AssetResource.MaterialTransferNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialTransferNumber)
            @Html.ValidationMessageFor(model => model.MaterialTransferNumber)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ConditionEvaluationID, @AssetResource.AssetResource.ConditionEvaluation)
        </div>
        <div class="editor-field" id="conditiondiv">
         
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment, @AssetResource.AssetResource.Comment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comment, new { @class = "comment" })
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
  

        @*<p>
            @if (Model != null)
            {
            <input type="submit" value="@AssetResource.Common.Submit" />
            }
            else
            { 
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
            }
        </p>*@
    </fieldset>
    

<script type="text/javascript">
    $(document).ready(function () {
       // $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });
        $(".lookup").hide();
        loadCategory();

        //loadManufacturer();

        loadLocation();

        loadCondition();

        //$( "#create-dialog" ).dialog( "destroy" );
//        $( "#create-dialog" ).dialog({
//			autoOpen: false
//		});

        


    });

    function loadCategory() {
        @if (Model != null && Model.CategoryId.HasValue)
        {
            <text>
            var url = '@(Url.Action("CategoryDropdown", "Category", new { categoryid = Model.CategoryId }))';
            </text>
        }
        else
        {
            <text>
            var url = '@(Url.Action("CategoryDropdown", "Category"))';
            </text>
        }
        
        $("#categorydiv").load(url);
    }

    function loadManufacturer() {
        var id = $("#CategoryId").val();
        var catid = id.length == 0 ? 0 : parseInt(id);
        @if (Model != null && Model.ManufacturerId.HasValue)
        {
            <text>
            var url = '@(Url.Action("AssetManufacturerDropdown", "Manufacturer", new { id = Model.ManufacturerId }))';
            </text>
        }
        else
        {
            <text>
            var url = '@(Url.Action("AssetManufacturerDropdown", "Manufacturer"))';
            </text>
        }
        var loadurl = url + '?catid=' + catid.toString();

        $("#manufacturerdiv").load(loadurl);
    }

    function loadSubcategory() {
        var url = '@(Url.Action("SubCategoryDropdown", "SubCategory"))';
        var id = $("#CategoryId").val();
        var catid = id.length == 0 ? 0 : parseInt(id);
        @if (Model != null && Model.SubCategoryId.HasValue)
        {
            <text>
            var loadurl = url + "/" + catid + "?subcatid=@(Model.SubCategoryId)";
            </text>
        }
        else
        {
            <text>
            var loadurl = url + "/" + catid;
            
            </text>
        }
        
       
        
        $("#subcategorydiv").load(loadurl);
    }

    function loadModelType() {

        
        var url = '@(Url.Action("ModelTypeDropdown", "ModelType"))';
        var id = $("#ManufacturerId").val();
        var manufacturerid = id.length == 0 ? 0 : parseInt(id);
        var loadurl = url + "/" + manufacturerid;

        @if (Model != null && Model.ModelTypeID.HasValue)
        {
            <text>
            var loadurl = url + "/" + manufacturerid + "?modeltypeid=@(Model.ModelTypeID)";
            </text>
        }
        else
        {
            <text>
            var loadurl = url + "/" + manufacturerid;
            
            </text>
        }

        $("#modeltypediv").load(loadurl);
    }

    function loadLocation() {
        @if (Model != null && Model.LocationID.HasValue)
        {
            <text>
            var url = '@(Url.Action("LocationDropdown", "Location", new { id = Model.LocationID }))';
            </text>
        }
        else
        {
            <text>
            var url = '@(Url.Action("LocationDropdown", "Location"))';
            </text>
        }
        
        $("#locationdiv").load(url);
    }


    function loadCondition() {
        @if (Model != null && Model.ConditionEvaluationID.HasValue)
        {
            <text>
            var url = '@(Url.Action("ConditionEvaluationDropdown", "ConditionEvaluation", new { id = Model.ConditionEvaluationID }))';
            </text>
        }
        else
        {
            <text>
           var url = '@(Url.Action("ConditionEvaluationDropdown", "ConditionEvaluation"))';
            </text>
        }
        
        $("#conditiondiv").load(url);
    }

    function getSubcategoryTemplate(){
        var url = '@(Url.Action("GetTemplate", "SubCategory"))';
        var subcat = $("#SubCategoryId").val()
        var txtdescription = $("#Description");
        
        $.getJSON(url + "/" + subcat, function(data) {
            txtdescription.val(data);
        });
    }

</script>