﻿@model AssetsInventory.Models.Asset

@{
    ViewBag.Title = @AssetResource.AssetResource.AssetIndexTitle;
}

<h2>@AssetResource.AssetResource.AssetIndexTitle</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    @Html.Partial("AssetInfo",Model)

    <div>
        <input type="submit" value="@AssetResource.Common.Create" class="save-btn" />
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class="redirect-lnk"})
    </div>
}


