﻿@model AssetsInventory.Models.Asset

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Asset</legend>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>

    <div class="display-label">SubCategory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
    </div>

    <div class="display-label">Manufacturer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
    </div>

    <div class="display-label">ModelType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelType.ModelTypeName)
    </div>

    <div class="display-label">SerialNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">ArrangementNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArrangementNumber)
    </div>

    <div class="display-label">Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.LocationName)
    </div>

    <div class="display-label">PurchaseInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseInfo.AFENumber)
    </div>

    <div class="display-label">MaintenanceRequestID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaintenanceRequestID)
    </div>

    <div class="display-label">ShippingInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingInfo.ShippingInfoId)
    </div>

    <div class="display-label">MaterialTransferNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaterialTransferNumber)
    </div>

    <div class="display-label">ConditionEvaluation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConditionEvaluation.ConditionEvalDescription)
    </div>

  
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
    </p>
}
