﻿@model AssetsInventory.Models.Asset

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>Asset</legend>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>

    <div class="display-label">SubCategory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategory.SubCategoryName)
    </div>

    <div class="display-label">Manufacturer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
    </div>

    <div class="display-label">ModelType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelType.ModelTypeName)
    </div>

    <div class="display-label">SerialNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">ArrangementNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArrangementNumber)
    </div>

    <div class="display-label">Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.LocationName)
    </div>

    <div class="display-label">PurchaseInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseInfo.AFENumber)
    </div>

    <div class="display-label">MaintenanceRequestID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaintenanceRequestID)
    </div>

    <div class="display-label">ShippingInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingInfo.ShippingInfoId)
    </div>

    <div class="display-label">MaterialTransferNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaterialTransferNumber)
    </div>

    <div class="display-label">ConditionEvaluation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConditionEvaluation.ConditionEvalDescription)
    </div>

    @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}

   
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.AssetId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
