﻿@model AssetsInventory.Models.Asset

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    @Html.HiddenFor(model => model.AssetId)
    @Html.Partial("AssetInfo", Model)

    <div>
        <fieldset>
            <legend>Additional Information</legend>
            @Html.ActionLink("Shipping Info", "AddShippingInfo", new { id = Model.AssetId })<br />
            @Html.ActionLink("Purchase Info", "AddPurchaseInfo", new { id = Model.AssetId })
        </fieldset>
    </div>
    

    
    <!-- documents -->
    <div>
        <fieldset>
             @Html.ActionLink("Add Documents", "AssetCreate", "Document", new { id = Model.AssetId }, null)<br />
            <legend>Documents</legend>
                <table>
                <tr>
                <th>
                DocumentName
                </th>
                <th>
                DocumentDescription
                </th>
                <th></th>
                </tr>

                @foreach (var item in Model.Documents)
                {
                <tr>
                <td>
                @Html.ActionLink(item.DocumentName,"DownloadFile","Document",new { id = item.DocumentId},null)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription)
                </td>
               
                <td>
                @Html.ActionLink(@AssetResource.Common.Edit, "Edit", "Document", new { id = item.DocumentId }, null) |
                @Html.ActionLink(@AssetResource.Common.Delete, "Delete","Document", new { id = item.DocumentId },null)
                </td>
                </tr>
                }

                </table>
        </fieldset>
    </div>
    
    <!-- photos -->
    <div>
        <fieldset>
             @Html.ActionLink("Add Photo", "AssetCreate", "PhotoArchive", new { id = Model.AssetId }, null)<br />
            <legend>Photo Archive</legend>
                <table>
                <tr>
                <th>
                Filename
                </th>
                <th>
                DateUploaded
                </th>
                <th></th>
                </tr>

                @foreach (var item in Model.PhotoArchives)
                {
                <tr>
                <td>
                @Html.ActionLink(item.PhotoFileName, "DownloadFile", "PhotoArchive", new { id = item.PhotoArchiveId }, null)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.DateUploaded)
                </td>
               
                <td>
                @Html.ActionLink(@AssetResource.Common.Edit, "Edit","PhotoArchive", new { id = item.PhotoArchiveId },null)
                </td>
                </tr>
                }

                </table>
        </fieldset>
    </div>
    
    
    
    <div>
        <input type="submit" value="@AssetResource.Common.Submit" />
    </div>
  
}
<div>
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</div>

