﻿@model AssetsInventory.ViewModels.EditAssetPageViewModel

@{
    ViewBag.Title = @AssetResource.AssetResource.AssetIndexTitle;
}

<h2>@AssetResource.AssetResource.AssetIndexTitle</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    @Html.HiddenFor(model => model.AssetId)

    
    <div id="asssettabs">
        <!-- tabs -->
        <ul>
            <li>Asset File Information</li>
            <li>Shipping Information</li>
            <li>Purchase Information</li>
            <li>Documents</li>
            <li>Photos</li>
        </ul>
        <!-- end tabs -->
        <!-- content -->
        <div>
            @Html.Partial("EditAssetInfo", Model)
        </div>
        <div>
            <fieldset>
            <legend>@AssetResource.AssetResource.ShippingInfoLabel</legend>
            @Html.HiddenFor(model => model.ShippingInfoId)
        <div class="editor-label">
            @Html.LabelFor(model => model.OperatingWeight, @AssetResource.AssetResource.OperatingWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatingWeight) @Html.DropDownList("WeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.OperatingWeight)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.WeightUOMId, @AssetResource.AssetResource.WeightUOM)
        </div>
        <div class="editor-field">
            @Html.DropDownList("WeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.WeightUOMId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.DryWeight, @AssetResource.AssetResource.DryWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DryWeight) @Html.DropDownList("DryWeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DryWeight)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.DryWeightUOMId, @AssetResource.AssetResource.DryWeightUOM)
        </div>
        <div class="editor-field">
             @Html.DropDownList("DryWeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DryWeightUOMId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Height, @AssetResource.AssetResource.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height) @Html.DropDownList("HeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.Height)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.HeightUOMId, @AssetResource.AssetResource.HeightUOM)
        </div>
        <div class="editor-field">
            @Html.DropDownList("HeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.HeightUOMId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Width, @AssetResource.AssetResource.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width) @Html.DropDownList("WidthUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.WidthUOMId, @AssetResource.AssetResource.WidthUOM)
        </div>
        <div class="editor-field">
            @Html.DropDownList("WidthUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.WidthUOMId)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Diameter, @AssetResource.AssetResource.Diameter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diameter) @Html.DropDownList("DiameterUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.Diameter)
        </div>

       @* <div class="editor-label">
            @Html.LabelFor(model => model.DiameterUOMId, @AssetResource.AssetResource.DiameterUOM)
        </div>
        <div class="editor-field">
             @Html.DropDownList("DiameterUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DiameterUOMId)
        </div>*@
        </fieldset>
        </div>
        <div>
            <fieldset>
            <legend>@AssetResource.AssetResource.PurchaseInfoLabel</legend>
            @Html.HiddenFor(model => model.PurchaseInfoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.AFENumber, @AssetResource.MaterialTransferResource.AFENumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AFENumber)
            @Html.ValidationMessageFor(model => model.AFENumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialReqNumber, @AssetResource.AssetResource.MaterialReqNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialReqNumber)
            @Html.ValidationMessageFor(model => model.MaterialReqNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PONumber, @AssetResource.AssetResource.PONumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PONumber)
            @Html.ValidationMessageFor(model => model.PONumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vendor, @AssetResource.AssetResource.Vendor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vendor)
            @Html.ValidationMessageFor(model => model.Vendor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvoiceNumber, @AssetResource.AssetResource.InvoiceNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvoiceNumber)
            @Html.ValidationMessageFor(model => model.InvoiceNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchasePrice, @AssetResource.AssetResource.PurchasePrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchasePrice)
            @Html.ValidationMessageFor(model => model.PurchasePrice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseCurrencyId, @AssetResource.AssetResource.PurchaseCurrency)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PurchaseCurrencyId", String.Empty)
            @Html.ValidationMessageFor(model => model.PurchaseCurrencyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseDate, @AssetResource.AssetResource.PurchaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div>
        </fieldset>
        </div>
        <div>
            <fieldset>
             
            <legend>Documents</legend>
                @Html.ActionLink(@AssetResource.AssetResource.AddDocuments, "AssetCreate", "Document", new { id = Model.AssetId }, new { @class = "save-btn" })<br />
                <table id="document-grid">
                <tr>
                <th data-field="name">
                @AssetResource.AssetResource.DocumentName
                </th>
                <th data-field="desc">
                @AssetResource.AssetResource.DocumentDesc
                </th>
                <th  data-field="download"></th>
                </tr>

                @foreach (var item in Model.Documents)
                {
                <tr>
                <td>
                @Html.ActionLink(item.DocumentName, "DownloadFile", "Document", new { id = item.DocumentId }, null)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription)
                </td>
               
                <td>
                @if (User.IsInRole("Admin"))
                { 
                <div>
                @Html.ActionLink(@AssetResource.Common.Edit, "Edit", "Document", new { id = item.DocumentId }, null) |
                @Html.ActionLink(@AssetResource.Common.Delete, "Delete", "Document", new { id = item.DocumentId }, null)
                </div>
                }
                </td>
                </tr>
                }

                </table>
        </fieldset>
        </div>
        <div>
            <fieldset>
             
            <legend>@AssetResource.AssetResource.PhotoArchiveInfoLabel</legend>
            @Html.ActionLink(@AssetResource.AssetResource.AddPhotos, "AssetCreate", "PhotoArchive", new { id = Model.AssetId }, new { @class="save-btn" })<br />
            <div>   
                <table id="photo-grid">
<tr>
<th data-field="filename">
@AssetResource.AssetResource.Filename
</th>
<th data-field="dateupload">
@AssetResource.AssetResource.DateUploaded
</th>
<th data-field="uploadby">
Uploaded By
</th>
<th data-field="action"></th>
</tr>

@foreach (var item in Model.Photos)
{
<tr>
<td>
@Html.ActionLink(item.PhotoFileName, "DownloadFile", "PhotoArchive", new { id = item.PhotoArchiveId }, null)
</td>
<td>
@Html.DisplayFor(modelItem => item.DateUploaded)
</td>
 <td>
@Html.DisplayFor(modelItem => item.UploadedBy)
</td>              
<td>
@if (User.IsInRole("Admin"))
{ 
<div>
@Html.ActionLink(@AssetResource.Common.Edit, "Edit", "PhotoArchive", new { id = item.PhotoArchiveId }, null) |
@Html.ActionLink(@AssetResource.Common.Delete, "Delete", "PhotoArchive", new { id = item.PhotoArchiveId }, null)
</div>
}
</td>
</tr>
}

</table>
            </div> 
        </fieldset>
        </div>
        <!-- end content -->
    </div>
    
    <div>
        <input type="submit" value="@AssetResource.Common.Submit" class="save-btn" />
         @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })

         @if (User.IsInRole("User"))
        {
         @Html.ActionLink("Make Request", "NewCurrentChangeRequest", "ChangeRequest", new { id = Model.AssetId }, new { @class = "redirect-lnk" })
         }
    </div>
  
}


<script type="text/javascript">

    function lockEditAssetElements() {
        $("input").attr("readonly", "readonly");
        var CategoryId = $("#CategoryId").data("kendoDropDownList");
        var SubCategoryId = $("#SubCategoryId").data("kendoDropDownList");
        var ManufacturerId = $("#ManufacturerId").data("kendoDropDownList");
        var ModelTypeID = $("#ModelTypeID").data("kendoDropDownList");
        var LocationID = $("#LocationID").data("kendoDropDownList");
        if (CategoryId != undefined) CategoryId.enable(false);
        if (SubCategoryId != undefined) SubCategoryId.enable(false);
        if (ManufacturerId != undefined) ManufacturerId.enable(false);
        if (ModelTypeID != undefined) ModelTypeID.enable(false);
        if (LocationID != undefined) LocationID.enable(false);
    }

    $(document).ready(function () {
        

        
        var tabstrip = $("#asssettabs").kendoTabStrip().data("kendoTabStrip");
        tabstrip.select(tabstrip.tabGroup.children("li:first"));


        $("#PurchaseCurrencyId").kendoDropDownList();
        $("#WeightUOMId").kendoDropDownList();
        $("#DryWeightUOMId").kendoDropDownList();
        $("#HeightUOMId").kendoDropDownList();
        $("#WidthUOMId").kendoDropDownList();
        $("#DiameterUOMId").kendoDropDownList();

        $("#document-grid").kendoGrid();
        $("#photo-grid").kendoGrid();

        @if (!User.IsInRole("Admin"))
        {<text>
        var WeightUOMId = $("#WeightUOMId").data("kendoDropDownList");
        var DryWeightUOMId = $("#DryWeightUOMId").data("kendoDropDownList");
        var HeightUOMId = $("#HeightUOMId").data("kendoDropDownList");
        var WidthUOMId = $("#WidthUOMId").data("kendoDropDownList");
        var DiameterUOMId = $("#DiameterUOMId").data("kendoDropDownList");
        if (WeightUOMId != undefined) WeightUOMId.enable(false);
        if (DryWeightUOMId != undefined) DryWeightUOMId.enable(false);
        if (HeightUOMId != undefined) HeightUOMId.enable(false);
        if (WidthUOMId != undefined) WidthUOMId.enable(false);
        if (DiameterUOMId != undefined) DiameterUOMId.enable(false);
        </text>}
       
    });

     $("form").validate({
        rules: {
            CategoryId: {
                required: true
            },
            SubCategoryId: {
                required: true
            },ManufacturerId : {
                required: true
            },
            ModelTypeID : {
                required: true
            }
        },
        messages: {
            CategoryId:  "Please specify Category",
            SubCategoryId:  "Please specify SubCategory",
            ManufacturerId:  "Please specify Manufacturer",
            ModelTypeID:  "Please specify ModelType",
        },
        errorLabelContainer: ".validation-summary-valid",
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>

