﻿@model IEnumerable<AssetsInventory.Models.Asset>

@{
    ViewBag.Title = AssetResource.AssetResource.AssetIndexTitle;
}

<h2>@AssetResource.AssetResource.AssetIndexTitle</h2>

@if (User.IsInRole("Admin"))
{ 
<p>
    @Html.ActionLink(@AssetResource.Common.Create, "Create", null, new { @class = "create-btn" })
</p>
}
else
{ 
    <p>
    @Html.ActionLink(@AssetResource.Common.NewRequest, "NewChangeRequest","ChangeRequest", null, new { @class = "create-btn" })
</p>
}



@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    
    @if (User.IsInRole("Admin"))
    {<text>
    <a href='@(Url.Action("Edit"))/#= AssetId #'>@AssetResource.Common.Edit</a> |
    <a href='@(Url.Action("Delete"))/#= AssetId #'>@AssetResource.Common.Delete</a>
    </text>
    }
    else
    { 
    <text>
    <a href='@(Url.Action("Edit"))/#= AssetId #'>View</a> |
    <a href='@(Url.Action("Print"))/#= AssetId #'>@AssetResource.Common.Details</a> 
    </text>
    }
</script>
<script id="assettemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Print"))/#= AssetId #'>#= AssetUniqueId #</a> 
</script>
<script id="statustemplate" type="text/x-kendo-template">
    #
    var statuscss = "normal";
    var statustext = Status;
    switch (Status) {
       
        case "Transit":
        case "In Transit":
            statuscss = "status-green";
            statustext = "in Transit"
            break;
       
        case "InPlace":
        case "Received":
            statuscss = "status-black";
            statustext = "On Location"
            break;
        default:
            statuscss = "status-red";
            break;

    }
    #
    <div id='statusindex#= AssetId #' class='statusindex #= statuscss #'>
    #= statustext #
    </div>
   

</script>

<script type="text/javascript">
    $(document).ready(function () {

        

        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@(Url.Action("List", "Asset"))',
                    dataType: "json"
                }
            },
            pageSize: @(ViewData["pagesize"]),
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });

        //$(document).ready(function () {



            $("#grid").kendoGrid({
                dataSource: sharableDataSource,
                height: 700,
                dataBound: function (e) {

                    $(".statusindex").each(function () {
                        var td = $(this).parent().closest('td');
                        var div = td.find('div.statusindex');
                        td.addClass(div.attr('class'));
                    });




                },
                change: function (e) {

                },
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                        {
                            field: "AssetUniqueId",
                            title: "AssetId",
                            width: 70,
                            template: kendo.template($("#assettemplate").html())
                        },
                        {
                            field: "Category",
                            title: "@(AssetResource.AssetResource.Category)"
                        },
                        {
                            field: "SubCategory",
                            title: "@(AssetResource.AssetResource.SubCategory)"
                        },
                        {
                            field: "SerialNumber",
                            title: "@(AssetResource.AssetResource.SerialNumber)"
                        },
                         {
                             field: "Manufacturer",
                             title: "@(AssetResource.AssetResource.Manufacturer)"
                         },
                         {
                             field: "ModelType",
                             title: "@(AssetResource.AssetResource.ModelType)"
                         },
                         {
                             field: "Location",
                             title: "@(AssetResource.AssetResource.Location)"
                         },
                         {
                             field: "Status",
                             title: "@(AssetResource.MaterialTransferResource.Status)",
                             width: 120,
                             template: kendo.template($("#statustemplate").html())
                         },
                         {
                             field: "AssetId",
                             title: "Action",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         }

                        ]
            });




       // });

    });
</script>
