﻿@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
@using AssetResource
@model AssetsInventory.ViewModels.AssetPrintPageViewModel
       
@section Head
{
    <style type="text/css" media="screen,projection,print">
            tbody tr:nth-child(even) td, tbody tr.even td {
             background-color:transparent;
            }
            table, th, td
            {
            border: 1px solid black;
            padding:0px;
            vertical-align:top;
            margin:0;
            }   
           thead th
           {
               text-align:center;
           }
           ul
           {
               list-style-type:none;
           }
           .checkboxList ul 
           {
               float:left;
               padding:0;
               margin:0;
           }
           
           .checkboxList ul li
           {
               float:left;
               padding:0;
               margin:0;
               width:145px;
           }
           .nopad
            {
                padding:0 !important;
            }
            
           #main-table td
           {
               border-bottom:none;
              padding:2px;
           }
           .child-table
           {
                border-left-style:none !important;
               border-right-style:none !important;
           }
           
           .child-table td
           {
               padding:2px;
               
           }
           
           .center
           {
               text-align:center;
           }
           tbody tr td:nth-child(1),tbody tr td:nth-child(3){
               font-weight:bold !important;
            }
            
            
           
    </style>
}

<img src="@Url.Content("~/Content/logo/logo.jpg")" alt="logo" class="logo" />
<table id="main-table">
    
    <thead>
        <tr>
            <th colspan="4" class="center">
                <h2>Electronic Asset File</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="span-4">@AssetResource.AssetId</td>
            <td class="span-8">@Model.AssetUniqueId</td>
            <td class="span-4"></td>
            <td class="span-8">@(Model.IsPart ? "Asset": "Spare")</td>
        </tr>
        <tr>
            <td>@AssetResource.Category</td>
            <td>@Model.CategoryName</td>
            <td>@AssetResource.SubCategory</td>
            <td>@Model.SubCategoryName</td>
        </tr>
       
        <tr>
            <td>@AssetResource.Description</td>
            <td>@Model.Description</td>
              <td>@AssetResource.Comment</td>
            <td>@Model.Comment</td>
        </tr>
        <tr>
            <td>@AssetResource.Manufacturer</td>
            <td>@Model.ManufacturerName</td>
            <td>@AssetResource.ModelType</td>
            <td>@Model.ModelTypeName</td>
        </tr>

        <tr>
            <td>@AssetResource.Location</td>
            <td>@Model.LocationName</td>
             <td>@AssetResource.SerialNumber</td>
            <td>@Model.SerialNumber</td>
        </tr>
        <tr>
            <td>@AssetResource.PurchasePrice</td>
            <td>@Model.AssetPurchasePrice</td>
            <td>@AssetResource.FairMarketPrice</td>
            <td>@Model.FairMarketPrice</td>
        </tr>
      
        <tr>
            <td>@AssetResource.ConditionEvaluation</td>
            <td>@Model.ConditionEvalDescription</td>
             <td>@MaterialTransferResource.Status</td>
             @{
            var statustext = Model.Status;
            switch (Model.Status)
            {

                case "Transit":
                case "In Transit":
                    statustext = "in Transit";
                    break;
                case "InPlace":
                case "Received":
                    statustext = "On Location";
                    break;
                default:
                    statustext = Model.Status;
                    break;
            }
            }
            <td>@(statustext)</td>
        </tr>
        <tr>
            <td colspan="2" class="nopad">
                <table class="child-table">
                    <thead>
                        <tr>
                            <th colspan="2">Shipping Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="span-3">@AssetResource.OperatingWeight</td>
                            <td>@(string.Format("{0} {1}", Model.OperatingWeight.ToString(),Model.WeightUOM))</td>
                        </tr>
                        <tr>
                            <td class="span-3">@AssetResource.DryWeight</td>
                            <td>@(string.Format("{0} {1}", Model.DryWeight.ToString(),Model.DryWeightUOM))</td>
                        </tr>
                        <tr>
                            <td class="span-3">@AssetResource.Width</td>
                            <td>@(string.Format("{0} {1}", Model.Width.ToString(),Model.WidthUOM))</td>
                        </tr>
                       <tr>
                            <td class="span-3">@AssetResource.Height</td>
                            <td>@(string.Format("{0} {1}", Model.Height.ToString(),Model.HeightUOM))</td>
                        </tr>
                        <tr>
                            <td class="span-3">@AssetResource.Diameter</td>
                            <td>@(string.Format("{0} {1}", Model.Diameter.ToString(),Model.DiameterUOM))</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="2" class="nopad">
                 <table class="child-table">
                    <thead>
                        <tr>
                            <th colspan="2">Purchase Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="span-3">@MaterialTransferResource.AFENumber</td>
                            <td>@(Model.AFENumber)</td>
                        </tr>
                        <tr>
                            <td class="span-3">@AssetResource.MaterialReqNumber</td>
                            <td>@(Model.MaterialReqNumber)</td>
                        </tr>
                        <tr>
                            <td class="span-3">@AssetResource.PONumber</td>
                            <td>@(Model.PONumber)</td>
                        </tr>
                       <tr>
                            <td class="span-3">@AssetResource.Vendor</td>
                            <td>@(Model.Vendor)</td>
                        </tr>
                        <tr>
                            <td class="span-3">@AssetResource.PurchasePrice</td>
                            <td>@(string.Format("{0} {1}", Model.PurchasePrice.ToString(),Model.PurchaseCurrency))</td>
                        </tr>
                         <tr>
                            <td class="span-3">@AssetResource.PurchaseDate</td>
                            <td>@(Model.PurchaseDate.ToString())</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="nopad">
                <table class="child-table">
                    <thead>
                        <tr>
                            <th colspan="3">Material Transfers</th>
                        </tr>
                        <tr>
                            <th>@AssetResource.MaterialTransferNumber</th>
                            <th>@MaterialTransferResource.Status</th>
                             <th>@MaterialTransferResource.ApprovalDate</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.MaterialTransfers)
                    {
                        <tr>
                            <td>@item.MaterialTransferNumber</td>
                            <td>@item.Status</td>
                            <td>@item.DateApproved</td>
                        </tr>
                    }
                        
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="nopad">
                <table class="child-table">
                    <thead>
                        <tr>
                            <th colspan="2">Documents</th>
                        </tr>
                        <tr>
                            
                            <th class="span-8">@AssetResource.DocumentName</th>
                             <th>@AssetResource.DocumentDesc</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Documents)
                    {
                        <tr>
                           
                            <td>@item.DocumentName</td>
                            <td>@item.DocumentDescription</td>
                        </tr>
                    }
                        
                    </tbody>
                </table>
            </td>
        </tr>
         <tr>
            <td colspan="4" class="nopad">
                <table class="child-table">
                    <thead>
                        <tr>
                            <th colspan="2">Photos</th>
                        </tr>
                        <tr>
                            
                            <th class="span-8">@AssetResource.Filename</th>
                             <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Photos)
                    {
                        <tr>
                           
                            <td>@item.PhotoFileName</td>
                            <td><img src="@(Url.Content(item.ImageUrl))" class="span-16" alt="@(item.PhotoFileName)"/></td>
                        </tr>
                    }
                        
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
    
       

</table>
