﻿ @model AssetsInventory.Models.ShippingInfo
 <fieldset>
        <legend>ShippingInfo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OperatingWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatingWeight)
            @Html.ValidationMessageFor(model => model.OperatingWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WeightUOMId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("WeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.WeightUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DryWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DryWeight)
            @Html.ValidationMessageFor(model => model.DryWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DryWeightUOMId)
        </div>
        <div class="editor-field">
             @Html.DropDownList("DryWeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DryWeightUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeightUOMId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("HeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.HeightUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WidthUOMId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("WidthUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.WidthUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diameter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diameter)
            @Html.ValidationMessageFor(model => model.Diameter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiameterUOMId)
        </div>
        <div class="editor-field">
             @Html.DropDownList("DiameterUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DiameterUOMId)
        </div>

       
</fieldset>