﻿@model AssetsInventory.Models.MaterialTransferAsset

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>MaterialTransferAsset</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialTransferId, "MaterialTransfer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MaterialTransferId", String.Empty)
            @Html.ValidationMessageFor(model => model.MaterialTransferId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetId, "Asset")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AssetId", String.Empty)
            @Html.ValidationMessageFor(model => model.AssetId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonAssetDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonAssetDescription)
            @Html.ValidationMessageFor(model => model.NonAssetDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NonAssetQuantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NonAssetQuantity)
            @Html.ValidationMessageFor(model => model.NonAssetQuantity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateModified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateModified)
            @Html.ValidationMessageFor(model => model.DateModified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateAdded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateAdded)
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddedById)
            @Html.ValidationMessageFor(model => model.AddedById)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedById)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedById)
            @Html.ValidationMessageFor(model => model.ModifiedById)
        </div>

        <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</div>
