﻿@model AssetsInventory.Models.MaterialTransferAsset

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>MaterialTransferAsset</legend>

    <div class="display-label">MaterialTransfer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaterialTransfer.MaterialTransferNumber)
    </div>

    <div class="display-label">Asset</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asset.AssetUniqueId)
    </div>

    <div class="display-label">NonAssetDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NonAssetDescription)
    </div>

    <div class="display-label">NonAssetQuantity</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NonAssetQuantity)
    </div>

    <div class="display-label">DateModified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateModified)
    </div>

    <div class="display-label">DateAdded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>

    <div class="display-label">AddedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedById)
    </div>

    <div class="display-label">ModifiedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedById)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.MaterialTransferAssetId }) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
