﻿@model AssetsInventory.Models.PurchaseInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PurchaseInfo</legend>

    <div class="display-label">AFENumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AFENumber)
    </div>

    <div class="display-label">MaterialReqNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaterialReqNumber)
    </div>

    <div class="display-label">PONumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PONumber)
    </div>

    <div class="display-label">Vendor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vendor)
    </div>

    <div class="display-label">InvoiceNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceNumber)
    </div>

    <div class="display-label">PurchasePrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchasePrice)
    </div>

    <div class="display-label">PurchaseCurrency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseCurrency.PurhcaseCurrencySymbol)
    </div>

    <div class="display-label">PurchaseDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
    </p>
}
