﻿@model AssetsInventory.Models.PurchaseInfo

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>PurchaseInfo</legend>

    <div class="display-label">AFENumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AFENumber)
    </div>

    <div class="display-label">MaterialReqNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaterialReqNumber)
    </div>

    <div class="display-label">PONumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PONumber)
    </div>

    <div class="display-label">Vendor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vendor)
    </div>

    <div class="display-label">InvoiceNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceNumber)
    </div>

    <div class="display-label">PurchasePrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchasePrice)
    </div>

    <div class="display-label">PurchaseCurrency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseCurrency.PurhcaseCurrencySymbol)
    </div>

    <div class="display-label">PurchaseDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.PurchaseInfoId }) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
