﻿@model IEnumerable<AssetsInventory.Models.PurchaseInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table>
    <tr>
        <th>
            AFENumber
        </th>
        <th>
            MaterialReqNumber
        </th>
        <th>
            PONumber
        </th>
        <th>
            Vendor
        </th>
        <th>
            InvoiceNumber
        </th>
        <th>
            PurchasePrice
        </th>
        <th>
            PurchaseCurrency
        </th>
        <th>
            PurchaseDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AFENumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialReqNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseCurrency.PurhcaseCurrencySymbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.PurchaseInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseInfoId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.PurchaseInfoId })
        </td>
    </tr>
}

</table>
