﻿@model AssetsInventory.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">UserTypeId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserTypeId)
    </div>
     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
    
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.UserId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
