﻿@model AssetsInventory.ViewModels.UserEditPageViewModel

@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    if (TempData["ErrorMsg"] != null)
	{ 
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					@(TempData["ErrorMsg"].ToString())</p>
				</div>
    }
    <fieldset>
        <legend>User</legend>
        

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UserName)
        @*        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.Email, "Username")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

       @*@* <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UserTypeId, "UserType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserTypeId", string.Empty)
            @Html.ValidationMessageFor(model => model.UserTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LanguageId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("LanguageId", string.Empty)
            @Html.ValidationMessageFor(model => model.LanguageId)
        </div>

    </fieldset>
      <p>
            <input type="submit" value="Save" class="save-btn"/>
             @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserTypeId").kendoDropDownList();
        $("#LanguageId").kendoDropDownList();

    });
</script>


