﻿@model IEnumerable<AssetsInventory.Models.User>
@using AssetsInventory.Lookups;

@{
    ViewBag.Title = "User";
}

@*<div id="msgbox" class="ui-state-highlight ui-corner-all" style="padding: 0 .7em; display:none;"> 
					<p>
                        <span id="message" class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;">
                        </span> 
			        </p>
				</div>*@

<h2>User</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>



@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Edit"))/#= UserId #'>@AssetResource.Common.Edit</a> |
    <a href='@(Url.Action("Details"))/#= UserId #'>@AssetResource.Common.Details</a> |
    <a href='@(Url.Action("Delete"))/#= UserId #'>@AssetResource.Common.Delete</a> |
    <a data-ajax="true" data-ajax-confirm="Confirm Email Sending ?" data-ajax-method="Post" data-ajax-success="resendSuccess" data-ajax-failure="mailError" href="/User/Resend/#= UserId #">Resend Password</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@(Url.Action("List", "User"))',
                    dataType: "json"
                }
            },
            pageSize: @(ViewData["pagesize"]),
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });

        $(document).ready(function () {



            $("#grid").kendoGrid({
                dataSource: sharableDataSource,
                height: 470,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [

                        {
                            field: "FirstName",
                            title: "FirstName"
                        },
                        {
                            field: "LastName",
                            title: "LastName"
                        },
                        {
                            field: "Username",
                            title: "Username"
                        },
                        {
                            field: "UserType",
                            title: "UserType"
                        },
                        {
                            field: "Position",
                            title: "Position"
                        },
                         {
                             field: "UserId",
                             title: " ",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         }

                        ]
            });




        });

    });
</script>


<script type="text/javascript">
    function resendSuccess() {
        alert("Email Sent!");
    }

    function mailError() {
        alert("Mail Error");
    }

    $(document).ready(function () {
        $("#user-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>
