﻿@model AssetsInventory.Models.SubCategory

@{
    ViewBag.Title = @AssetResource.AssetResource.SubCategory;
}

<h2>@AssetResource.AssetResource.SubCategory</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>SubCategory</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", null, new { @style = "width:400px" })
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategoryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubCategoryName)
            @Html.ValidationMessageFor(model => model.SubCategoryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MarkinginInstructions)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MarkinginInstructions)
            @Html.ValidationMessageFor(model => model.MarkinginInstructions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertOrDocRequirement)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CertOrDocRequirement)
            @Html.ValidationMessageFor(model => model.CertOrDocRequirement)
        </div>
        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#CategoryId").kendoDropDownList();

    });
</script>