﻿@model AssetsInventory.ViewModels.SubCategoryDropdownViewModel 

@Html.DropDownList("SubCategoryId", null, new { @style = "width:400px;" }) <a href="javascript:void(0)" id="subcategorylookup" class="lookup">&nbsp;</a>
@Html.ValidationMessageFor(model => model.SubCategoryId)

<script type="text/javascript">
    $(document).ready(function () {
        

        $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });
        $(".lookup").hide();
        $("#SubCategoryId").kendoDropDownList();
//        var ddSubCategory = $("#SubCategoryId").data("kendoDropDownList");
//        ddSubCategory.ul.width(400);
        $("#SubCategoryId").change(function () {
            getSubcategoryTemplate();
        });

        
        
        
    });
</script>