﻿@model AssetsInventory.Models.PurchaseCurrency

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>PurchaseCurrency</legend>

    <div class="display-label">PurhcaseCurrencySymbol</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurhcaseCurrencySymbol)
    </div>
     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.PurchaseCurrencyID }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
