﻿@model AssetsInventory.Models.PurchaseCurrency

@{
    ViewBag.Title = @AssetResource.AssetResource.PurchaseCurrency;
}

<h2>@AssetResource.AssetResource.PurchaseCurrency</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>PurchaseCurrency</legend>

        @Html.HiddenFor(model => model.PurchaseCurrencyID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PurhcaseCurrencySymbol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurhcaseCurrencySymbol)
            @Html.ValidationMessageFor(model => model.PurhcaseCurrencySymbol)
        </div>

        
    </fieldset>
    <p>
            <input type="submit" value="Save" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
    @Html.Partial("CreatedValues")
}


