﻿@model IEnumerable<AssetsInventory.Models.PurchaseCurrency>

@{
    ViewBag.Title = @AssetResource.AssetResource.PurchaseCurrency;
}

<h2>@AssetResource.AssetResource.PurchaseCurrency</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="currency-grid">
    <tr>
        <th data-field="symbo">
            PurhcaseCurrencySymbol
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PurhcaseCurrencySymbol)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.PurchaseCurrencyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseCurrencyID }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.PurchaseCurrencyID })
        </td>
    </tr>
}

</table>


<script type="text/javascript">
    $(document).ready(function () {
        $("#currency-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>
