﻿
@model AssetsInventory.ViewModels.ConditionEvaluationDropdownViewModel

@Html.DropDownList("ConditionEvaluationID", String.Empty) <a href="javascript:void(0)" id="conditionlookup" class="lookup">&nbsp;</a>
@Html.ValidationMessageFor(model => model.ConditionEvaluationID)

<script type="text/javascript">
    $(document).ready(function () {
        $("#ConditionEvaluationID").kendoDropDownList();
        $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });

        $(".lookup").hide();
    });
</script>