﻿@model AssetsInventory.Models.ConditionEvaluation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>ConditionEvaluation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConditionEvalDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConditionEvalDescription)
            @Html.ValidationMessageFor(model => model.ConditionEvalDescription)
        </div>

        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}


