﻿@model IEnumerable<AssetsInventory.Models.ConditionEvaluation>

@{
    ViewBag.Title = @AssetResource.AssetResource.ConditionEvaluation;
}

<h2>@AssetResource.AssetResource.ConditionEvaluation</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="condition-grid">
    <tr>
        <th data-field="evaldesc">
            ConditionEvalDescription
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConditionEvalDescription)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.ConditionEvaluationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConditionEvaluationId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.ConditionEvaluationId })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#condition-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>