﻿@model AssetsInventory.Models.ShippingInfo

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>ShippingInfo</legend>

    <div class="display-label">OperatingWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OperatingWeight)
    </div>

    <div class="display-label">WeightUOMId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeightUOMId)
    </div>

    <div class="display-label">DryWeight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DryWeight)
    </div>

    <div class="display-label">DryWeightUOMId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DryWeightUOMId)
    </div>

    <div class="display-label">Height</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">HeightUOMId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HeightUOMId)
    </div>

    <div class="display-label">Width</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Width)
    </div>

    <div class="display-label">WidthUOMId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WidthUOMId)
    </div>

    <div class="display-label">Diameter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diameter)
    </div>

    <div class="display-label">DiameterUOMId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiameterUOMId)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.ShippingInfoId }) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
