﻿@model AssetsInventory.Models.ShippingInfo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>ShippingInfo</legend>
        @Html.HiddenFor(model=>model.ShippingInfoId)
        <div class="editor-label">
            @Html.LabelFor(model => model.OperatingWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatingWeight)
            @Html.ValidationMessageFor(model => model.OperatingWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WeightUOMId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("WeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.WeightUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DryWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DryWeight)
            @Html.ValidationMessageFor(model => model.DryWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DryWeightUOMId)
        </div>
        <div class="editor-field">
             @Html.DropDownList("DryWeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DryWeightUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HeightUOMId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("HeightUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.HeightUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WidthUOMId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("WidthUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.WidthUOMId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diameter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diameter)
            @Html.ValidationMessageFor(model => model.Diameter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiameterUOMId)
        </div>
        <div class="editor-field">
             @Html.DropDownList("DiameterUOMId", String.Empty)
            @Html.ValidationMessageFor(model => model.DiameterUOMId)
        </div>

        <p>
            <input type="submit" value="Save" class="save-btn"/>
        </p>
    </fieldset>
    @Html.Partial("CreatedValues")
}

<div>
    @*@Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })*@
    @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = TempData["AssetId"] }, null)
</div>
