﻿@model IEnumerable<AssetsInventory.Models.ShippingInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table>
    <tr>
        <th>
            OperatingWeight
        </th>
        <th>
            WeightUOMId
        </th>
        <th>
            DryWeight
        </th>
        <th>
            DryWeightUOMId
        </th>
        <th>
            Height
        </th>
        <th>
            HeightUOMId
        </th>
        <th>
            Width
        </th>
        <th>
            WidthUOMId
        </th>
        <th>
            Diameter
        </th>
        <th>
            DiameterUOMId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OperatingWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightUOMId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DryWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DryWeightUOMId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeightUOMId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WidthUOMId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diameter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiameterUOMId)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.ShippingInfoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShippingInfoId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.ShippingInfoId })
        </td>
    </tr>
}

</table>
