﻿@model AssetsInventory.Models.DimensionUOM

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>DimensionUOM</legend>

    <div class="display-label">DimesionDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DimesionDescription)
    </div>
     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.DimensionUOMId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
