﻿@model IEnumerable<AssetsInventory.Models.TransferType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="transfertype-grid">
    <tr>
        <th data-field="name">
            TransferTypeName
        </th>
     
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransferTypeName)
        </td>
     
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.TransferTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransferTypeId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.TransferTypeId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#transfertype-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>
