﻿@model AssetsInventory.Models.Country

@{
    ViewBag.Title = "Country";
}

<h2>Country</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>Country</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountryName)
            @Html.ValidationMessageFor(model => model.CountryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountryCode)
            @Html.ValidationMessageFor(model => model.CountryCode)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SortCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SortCode)
            @Html.ValidationMessageFor(model => model.SortCode)
        </div>
        <div class="editor-label">
            @Html.Label("Is Shown on Dropdown")
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsShown)
            @Html.ValidationMessageFor(model => model.IsShown)
        </div>

      

        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}

