﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- css --->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/kendouiweb/styles/kendo.common.min.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/kendouiweb/styles/kendo.silver.min.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/kendoui/styles/examples.min.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/smoothness/jquery-ui-1.8.16.custom.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/app.css")"/>
    <!-- end css --->

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendouiweb/js/kendo.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendouiweb/js/kendo.all.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/kendouiweb/js/kendo.dropdownlist.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.debug.js")" type="text/javascript"></script>
    
    

    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    @RenderSection("Head", false)
    <!-- end js -->
</head>
<body>
    <div id="exceptFooterWrap">
        <div id="exceptFooter">
        <header id="header">
            <div id="title" class="floatWrap centerWrap">
            @*<a href="@(Url.Action("Index","Home"))" id="applogo"></a>*@
            <img src="@Url.Content("~/Content/logo/logo.jpg")" alt="logo" class="logo" />
                @*<h2>Asset Management System</h2>*@
                
                    <ul>
                        <li>
                            @{Html.RenderAction("RenderLogOnPartial", "Home");}
                        </li>
                    </ul>
            </div>
            
        </header>

        <div id="flowerWrap">
            <div class="flowers"></div>
            <nav id="topnavWrap" class="centerWrap">
            <ul id="topnav">
                @{
                    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
                    var action = this.ViewContext.RouteData.Values["action"].ToString();
                }
                <li class="first">@Html.ActionLink(@AssetResource.Common.HomeMenu, "Index", "Home", null, new { @class = (controller == "Home" && action == "Index" ? "selected" : "") })</li>
                <li>@Html.ActionLink(@AssetResource.Common.AssetsMenu, "Index", "Asset", null, new { @class = (controller == "Asset" && action == "Index" ? "selected" : "") })</li>
                <li>@Html.ActionLink(AssetResource.Common.MaterialTransferMenu, "Index", "MaterialTransfer", null, new { @class = (controller == "MaterialTransfer" && action == "Index" ? "selected" : "") })</li>
                @if (HttpContext.Current.User.IsInRole("Admin"))
                { 
                <li>@Html.ActionLink(AssetResource.Common.RelatedFieldsMenu, "RelatedFields", "Home",null, new { @class = (controller == "Home" && action == "RelatedFields" ? "selected" : "") })</li>
                }
                @if (User.Identity.IsAuthenticated)
                { 
                <li>@Html.ActionLink(AssetResource.Common.ChangePassword, "ChangePassword", "Account", null, new { @class = (controller == "Account" && action == "ChangePassword" ? "selected" : "") })</li>
                }
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {

                    Html.RenderAction("RenderMessageTab", "ChangeRequest");
                }
            </ul>
            <div id="examplesThemeChooser" style="display:block;">
                @{Html.RenderAction("RenderCultureUserControl", "Home");}
            </div>
            </nav>
            
        </div>

        <section>
        <div id="main">
            <div id="example" class="k-content">
            @RenderBody()
            </div>
        </div>
        </section>
        </div>
        
        <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    </div>
    <footer>
            <div class="floatWrap centerWrap">
            <ul>
                <li>@Html.ActionLink("Home","Index","Home")</li>
                <li>@Html.ActionLink("Electronic Asset Files","Index","Assets")</li>
                <li>@Html.ActionLink("Material Transfers","Index","MaterialTransfer")</li>
               
            </ul>
            
            <p id="copy">Copyright © 2011 All rights reserved.</p>
        </div>
        </footer>
     <script type="text/javascript">
         $(document).ready(function () {

         });
    </script>
</body>
</html>
