﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/blueprint/screen.css")" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/blueprint/print.css")" type="text/css" media="print"/> 
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="@Url.Content("~/Content/blueprint/ie.css")" type="text/css" media="screen, projection"/>
    <![endif]-->
  
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.8.16.custom.css")"/>
    

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

    
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Asset Management System</h1>
            </div>
      
         
        </header>
        <section id="main">
            @RenderBody()
        </section>
        
        <footer>
        </footer>
        <script src="@Url.Content("~/Scripts/common.js")" type="text/javascript"></script>
    </div>
</body>
</html>
