﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/blueprint/screen.css")" type="text/css" media="screen, projection,print"/>
@*    <link rel="stylesheet" href="@Url.Content("~/Content/blueprint/print.css")" type="text/css" media="print"/> *@
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="@Url.Content("~/Content/blueprint/ie.css")" type="text/css" media="screen, projection"/>
    <![endif]-->
    <style type="text/css">
        #applogo {
        display:block;
        height: 36px;
        background: no-repeat url('@Url.Content("~/Content/logo/logo.jpg")');
        text-indent: -4000px;
        overflow: hidden;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    @RenderSection("Head", false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
