﻿
<div>
    @(AssetResource.Common.SelectLanguage) : @Html.DropDownList("LanguageList")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#LanguageList").kendoDropDownList();
        $("#LanguageList").change(function () {
            var url = '@(Url.Action("SetCulture","Home"))';
            window.location = url + "/" + $(this).val();
        });
    });
</script>