﻿@{
    ViewBag.Title = "Delete Error";
}

<h2>Error Occured</h2>
<div class="validation-summary-errors">
<p>@TempData["ErrorMsg"].ToString()</p>
</div>
<a href="@TempData["DeleteUrl"].ToString()">Back</a>