﻿@{

    if (TempData["ErrorMsg"] != null)
    { 
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					@(TempData["ErrorMsg"].ToString())</p>
				</div>
    
    }
    if (TempData["SuccessMsg"] != null)
    { 
		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
					@(TempData["SuccessMsg"].ToString())</p>
				</div>
    
    }
}