﻿@using (Html.BeginForm())
{
    <div>
        Show Only:<input type="text" name="pagesize" id="pagesize" value="@(ViewData["pagesize"])" /> records
        <button type="submit">Go</button>
    </div>
}