﻿@model AssetsInventory.ViewModels.SystemDisplayPageViewModel       
<div class="display-label">Created On:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedOn)
    </div>
    <div class="display-label">Created By:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
    <div class="display-label">Modified On:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedOn)
    </div>
    <div class="display-label">Modified By:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>