﻿@model AssetsInventory.Models.Language

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Language</legend>

    <div class="display-label">LanguageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageName)
    </div>

    <div class="display-label">LanguageShortName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageShortName)
    </div>

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
