﻿@model AssetsInventory.Models.Language

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>Language</legend>

    <div class="display-label">LanguageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageName)
    </div>

    <div class="display-label">LanguageShortName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LanguageShortName)
    </div>

   
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LanguageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
