﻿@model IEnumerable<AssetsInventory.Models.Language>

@{
    ViewBag.Title = "Language";
}

<h2>Language</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "create-btn" })
</p>
<table id="language-grid">
    <tr>
        <th data-field="name">
            LanguageName
        </th>
        <th data-field="short">
            LanguageShortName
        </th>
      
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageShortName)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LanguageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LanguageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LanguageId })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#language-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>
