﻿@using AssetsInventory.ViewModels
@model EditAssetChangeRequestPageViewModel
@{
    ViewBag.Title = "ChangeRequest";
}
@section Head
{

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>New Change Request</legend>
        @Html.HiddenFor(model=>model.AssetId)
        <div class="editor-label">
            @Html.LabelFor(model => model.ModuleName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ModuleName, new { @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.ModuleName)
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Url))
        { 
        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.Url, new { @readonly = "readonly" })<a href="@(Model.Url)">...</a>
            @Html.ValidationMessageFor(model => model.Url)
        </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Message)
        </div>
                 <script type="text/javascript">
            //<![CDATA[
                     CKEDITOR.replace('Message',
            {
                toolbar: 'Basic',
                uiColor: '#EAEAEC'
            });
            //]]>
        </script>
        <div class="editor-label">
            @Html.LabelFor(model => model.Statuses)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.SelectedStatus,Model.Statuses)
            @Html.ValidationMessageFor(model => model.SelectedStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attachments)
        </div>
        <div class="editor-field">
        @if (Model.Attachments != null && Model.Attachments.Count() > 0)
        {
            foreach (var item in Model.Attachments)
            {
               <a href="@(item.FilePath)">@(item.FileName)</a>
            }
        }
        else
        { 
            <label>No Attachment</label>
        }
            
        </div>

       



        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Submit" class="save-btn" />
                @Html.ActionLink(@AssetResource.Common.BacktoList, "Messages", null, new { @class = "redirect-lnk" })
        </p>
    
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#attachments").kendoUpload();

        $("#SelectedStatus").kendoDropDownList();
    });
</script>
