﻿@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>


<div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    
    <a href='@(Url.Action("Change"))/#= Id #'>View Message</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@(Url.Action("List", "ChangeRequest"))',
                    dataType: "json"
                }
            },
            pageSize: 15,
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });

        $(document).ready(function () {



            $("#grid").kendoGrid({
                dataSource: sharableDataSource,
                height: 470,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [

                        {
                            field: "UserName",
                            title: "UserName"
                        },
                        {
                            field: "DateRequested",
                            title: "Date Requested"
                        },
                        {
                            field: "Module",
                            title: "Module"
                        },
                        {
                            field: "Status",
                            title: "Status"
                        },
                         {
                             field: "Id",
                             title: " ",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         }

                        ]
            });




        });

    });
</script>

