﻿@model AssetsInventory.Controllers.ChangeRequestController.MessageTabViewModel

                @{
                    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
                    var action = this.ViewContext.RouteData.Values["action"].ToString();
                }          
@if (Model.MessageCount > 0)
{
    <li>@Html.ActionLink(AssetResource.Common.MessagesMenu +  "(" +  Model.MessageCount.ToString() + ")", "Messages", "ChangeRequest", null, new { @class = (controller == "ChangeRequest" && action == "Messages" ? "selected" : "") })</li>
    
}
else
{ 
<li>@Html.ActionLink(AssetResource.Common.MessagesMenu, "Messages", "ChangeRequest", null, new { @class = (controller == "ChangeRequest" && action == "Messages" ? "selected" : "") })</li>
}