﻿@using AssetsInventory.ViewModels
@model NewCurrentAssetChangeRequestPageViewModel
@{
    ViewBag.Title = "New Current ChangeRequest";
}


@section Head
{
@*<link rel="stylesheet" href="@Url.Content("~/Scripts/jhtml/style/jHtmlArea.css")" type="text/css"/>
<link rel="stylesheet" href="@Url.Content("~/Scripts/jhtml/style/jHtmlArea.Editor.css")" type="text/css"/>*@
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>New Change Request</legend>
        @Html.HiddenFor(model=>model.AssetId)
        <div class="editor-label">
            @Html.LabelFor(model => model.ModuleName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ModuleName, new { @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.ModuleName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Url, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Url)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <script type="text/javascript">
            //<![CDATA[

            CKEDITOR.replace('Message',
            {
            toolbar: 'Basic',
            uiColor: '#EAEAEC'
        });
            //]]>

        </script>
        <div class="editor-label">
            @Html.LabelFor(model => model.SelectedAdmin)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.SelectedAdmin,Model.Admins)
            @Html.ValidationMessageFor(model => model.SelectedAdmin)
        </div>

        <div class="editor-label">
            Attachments
        </div>
        <div class="editor-field">
            <input name="attachments" id="attachments" type="file" />
        </div>



        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn" />
                @Html.ActionLink(@AssetResource.Common.BacktoList, "Index","Asset", null, new { @class = "redirect-lnk" })
        </p>
    
}

<script type="text/javascript">
    $(document).ready(function () {
//        $("textarea").ckeditor();
        $("#attachments").kendoUpload();

        $("#SelectedAdmin").kendoDropDownList();
    });
</script>
