﻿@using AssetsInventory.ViewModels
@model NewAssetChangeRequestPageViewModel
@{
    ViewBag.Title = "New ChangeRequest";
}
@section Head
{

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>New Change Request</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
         <script type="text/javascript">
            //<![CDATA[
             CKEDITOR.replace('Message',
            {
                toolbar: 'Basic',
                uiColor: '#EAEAEC'
            });
            //]]>

        </script>
        <div class="editor-label">
            @Html.LabelFor(model => model.SelectedAdmin)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m=>m.SelectedAdmin,Model.Admins)
            @Html.ValidationMessageFor(model => model.SelectedAdmin)
        </div>

        <div class="editor-label">
            Attachments
        </div>
        <div class="editor-field">
            <input name="attachments" id="attachments" type="file" />
        </div>



        
    </fieldset>
    <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn" />
                @Html.ActionLink(@AssetResource.Common.BacktoList, "Index","Asset", null, new { @class = "redirect-lnk" })
        </p>
    
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#attachments").kendoUpload();

        $("#SelectedAdmin").kendoDropDownList();
    });
</script>
