﻿@model AssetsInventory.Models.Manufacturer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Manufacturer</legend>

    <div class="display-label">ManufacturerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerName)
    </div>

    <div class="display-label">ManufacturerCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerCode)
    </div>

    <div class="display-label">OtherManufacturerRef</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherManufacturerRef)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
    </p>
}
