﻿@model AssetsInventory.Models.Manufacturer

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>Manufacturer</legend>

    <div class="display-label">ManufacturerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerName)
    </div>

    <div class="display-label">ManufacturerCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManufacturerCode)
    </div>

    <div class="display-label">OtherManufacturerRef</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherManufacturerRef)
    </div>
    @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.ManufacturerId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
