﻿@model IEnumerable<AssetsInventory.Models.Manufacturer>

@{
    ViewBag.Title = AssetResource.Common.Manufacturers;
}

<h2>@AssetResource.Common.Manufacturers</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>

@*<table id="manufacturer-grid">
    <tr>
        <th data-field="name">
            ManufacturerName
        </th>
        <th data-field="code">
            ManufacturerCode
        </th>
        <th data-field="ref">
            OtherManufacturerRef
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherManufacturerRef)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.ManufacturerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManufacturerId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.ManufacturerId }) |
            @Html.ActionLink(string.Format("{0} {1}", AssetResource.Common.Create, AssetResource.AssetResource.ModelType), "CreateManufacturer","ModelType", new { id = item.ManufacturerId },null)
        </td>
    </tr>
}

</table>*@

@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Edit"))/#= Id #'>@AssetResource.Common.Edit</a> |
    <a href='@(Url.Action("Details"))/#= Id #'>@AssetResource.Common.Details</a> |
    <a href='@(Url.Action("Delete"))/#= Id #'>@AssetResource.Common.Delete</a> |
    <a href='@(Url.Action("CreateManufacturer","ModelType"))/#= Id #'>@string.Format("{0} {1}", AssetResource.Common.Create, AssetResource.AssetResource.ModelType)</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@(Url.Action("List", "Manufacturer"))',
                    dataType: "json"
                }
            },
            pageSize: @(ViewData["pagesize"]),
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });

        $(document).ready(function () {



            $("#grid").kendoGrid({
                dataSource: sharableDataSource,
                height: 470,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [

                        {
                            field: "Name",
                            title: "Manufacturer Name",
                            width:290
                        },
                        {
                            field: "Code",
                            title: "Manufacturer Code",
                            width: 190
                        },
                        {
                            field: "Ref",
                            title: "Other Manufacturer Ref",
                            width: 190
                        },
                         {
                             field: "Id",
                             title: " ",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         }

                        ]
            });




        });

    });
</script>


