﻿@model AssetsInventory.ViewModels.ManufacturerDropdownViewModel

@Html.DropDownList("ManufacturerId", null, new { @style = "width:300px;" }) <a href="javascript:void(0)" id="manufacturerlookup" class="lookup">&nbsp;</a>
@Html.ValidationMessageFor(model => model.ManufacturerId)

<script type="text/javascript">
    $(document).ready(function () {
        $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });
        $(".lookup").hide();
        loadModelType();

        $("#ManufacturerId").kendoDropDownList();
        //modeltype event
        $("#ManufacturerId").change(function () {
            loadModelType();
        });
    });
</script>