﻿@model AssetsInventory.Models.MaterialTransfer
@using AssetsInventory.Utilities
@using AssetsInventory.ViewModels
@{
    ViewBag.Title = @AssetResource.MaterialTransferResource.MaterialTransferIndexTitle;
}

<h2>@AssetResource.MaterialTransferResource.MaterialTransferIndexTitle</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "MaterialTransfer", FormMethod.Post, new { id = "mtf-add-form" }))
{
    @Html.ValidationSummary(false,"Please fix the following errors") 
 @*   @Html.ValidationSummaryJQuery("Please fix",null)*@
    @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>@AssetResource.MaterialTransferResource.MaterialTransfer</legend>
        <div class="mtr-left">
        <div class="editor-label">
            @Html.LabelFor(model => model.TransferTypeId, @AssetResource.MaterialTransferResource.TransferType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransferTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.TransferTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransferReasonId, @AssetResource.MaterialTransferResource.TransferReason)
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransferReasonId", null, new { @class = "iscountry" })
            @Html.ValidationMessageFor(model => model.TransferReasonId)
        </div>

       

        @if (Model != null)
        { 
        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialTransferNumber, @AssetResource.AssetResource.MaterialTransferNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaterialTransferNumber)
            @Html.ValidationMessageFor(model => model.MaterialTransferNumber)
        </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.ManifestNumber, @AssetResource.MaterialTransferResource.ManifestNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManifestNumber)
            @Html.ValidationMessageFor(model => model.ManifestNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromCountryId, @AssetResource.MaterialTransferResource.FromCountry)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FromCountryId", String.Empty)
            @Html.ValidationMessageFor(model => model.FromCountryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentLocationId, @AssetResource.MaterialTransferResource.FromLocation)
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("CurrentLocationId", String.Empty)*@
            <span id="currentlocation">
            @{Html.RenderAction("LocationDropdown", "Location", new { controlname = "CurrentLocationId" });}
            </span>
            @Html.ValidationMessageFor(model => model.CurrentLocationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AFENumber, @AssetResource.MaterialTransferResource.AFENumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AFENumber)
            @Html.ValidationMessageFor(model => model.AFENumber)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.AttnReceiver, @AssetResource.MaterialTransferResource.AttnReceiver)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttnReceiver)
            @Html.ValidationMessageFor(model => model.AttnReceiver)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverId, @AssetResource.MaterialTransferResource.Receiver)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReceiverId", String.Empty)
            @Html.ValidationMessageFor(model => model.ReceiverId)
        </div>

        </div>

        <div class="mtr-right">
             <div class="editor-label">
            @Html.LabelFor(model => model.Cautions, @AssetResource.MaterialTransferResource.Cautions)
            </div>
            <div class="editor-field">
                @Html.Raw(Html.CheckBoxList("cautionIds", (IEnumerable<SelectListItem>)ViewBag.CautionIds))
                @Html.ValidationMessageFor(model => model.Cautions)
            </div>
            <div class="editor-label">
            @Html.LabelFor(model => model.ToCountryId, @AssetResource.MaterialTransferResource.ToCountry)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ToCountryId", String.Empty)
            @Html.ValidationMessageFor(model => model.ToCountryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewLocationId, @AssetResource.MaterialTransferResource.ToLocation)
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("NewLocationId", String.Empty)*@
                <span id="newlocation">
            @{Html.RenderAction("LocationDropdown", "Location", new { controlname = "NewLocationId" });
}</span>
            @Html.ValidationMessageFor(model => model.NewLocationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepairWorkOrder, @AssetResource.MaterialTransferResource.RepairWorkOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RepairWorkOrder)
            @Html.ValidationMessageFor(model => model.RepairWorkOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverRef, @AssetResource.MaterialTransferResource.ReceiverRef)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverRef)
            @Html.ValidationMessageFor(model => model.ReceiverRef)
        </div>
        </div>
        

        

        

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ShipToAddress, @AssetResource.MaterialTransferResource.ShiptoAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipToAddress)
            @Html.ValidationMessageFor(model => model.ShipToAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransferComment, @AssetResource.MaterialTransferResource.ShippingComments)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TransferComment)
            @Html.ValidationMessageFor(model => model.TransferComment)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Status, @AssetResource.MaterialTransferResource.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", string.Empty)
            @Html.ValidationMessageFor(model => model.Status)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.OriginatorId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OriginatorId)
            @Html.ValidationMessageFor(model => model.OriginatorId)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ManifestoInfo, @AssetResource.MaterialTransferResource.ManifestInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ManifestoInfo)
            @Html.ValidationMessageFor(model => model.ManifestoInfo)
        </div>*@


        @if (Model != null)
        { 
        @*<div class="editor-label">
            @Html.LabelFor(model => model.ApprovalStatus, @AssetResource.MaterialTransferResource.ApprovalStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApprovalStatus)
            @Html.ValidationMessageFor(model => model.ApprovalStatus)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ApprovalDate, @AssetResource.MaterialTransferResource.ApprovalDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApprovalDate)
            @Html.ValidationMessageFor(model => model.ApprovalDate)
        </div>*@
        }
        

        

       
    </fieldset>
    
    <div id="div-approvinguser"></div>
    
         <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn" id="save" />
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
}


<script type="text/javascript">
    $(document).ready(function () {
        
        //        $("#mtf-add-form").kendoValidator({
        //            rules: {
        //                custom: function (input) {
        //                    if (input.is("[id=TransferReasonId]")) {
        //                        var transfer = $("#TransferReasonId").data("kendoDropDownList");
        //                        var frlocation = $("#CurrentLocationId").data("kendoDropDownList");
        //                        var tolocation = $("#NewLocationId").data("kendoDropDownList");
        //                        if (transfer.value() == "Country-Country") {
        //                            return (frlocation.value() == tolocation.value());
        //                        }
        //                    }
        //                },
        //                messages: "Location cannot be the same"
        //            }
        //        })
        //        var validatable = $("#mtf-add-form").data("kendoValidator");
        //        $("#save").click(function () {
        //            if (validatable.validate()) {
        //                //save();
        //            }
        //        });

        

        $("#FromCountryId").change(function () {
            loadmaterialTransferControl();
        });
        $("#TransferTypeId").change(function () {
            loadmaterialTransferControl();
        });

        $("#TransferReasonId").change(function () {
            loadmaterialTransferControl();
        });

        loadmaterialTransferControl();
    });

    function loadmaterialTransferControl() {
        var url = '@Url.Action("RenderMaterialTransferApprovalControl","MaterialTransfer")';
        var countryid = isNaN(parseInt($("#FromCountryId").val())) ? 0 : parseInt($("#FromCountryId").val());
        var transfertype = isNaN(parseInt($("#TransferTypeId").val())) ? 0 : parseInt($("#TransferTypeId").val());
        var transferreason = isNaN(parseInt($("#TransferReasonId").val())) ? 0 : parseInt($("#TransferReasonId").val());
        var ajaxurl = url + "?transfertypeid=" + transfertype + "&countryid=" + countryid + "&transferreasonid=" + transferreason;

        $("#div-approvinguser").load(ajaxurl);
    }
</script>
@Html.Partial("MaterialTransferScript", new MaterialTransferLocationViewModel())



<script type="text/javascript">

    $(document).ready(function () {

        jQuery.validator.addMethod("iscountry", function (value, element) {
            var transfer = $("#TransferReasonId").data("kendoDropDownList");
            var frlocation = $("#CurrentLocationId").data("kendoDropDownList");
            var tolocation = $("#NewLocationId").data("kendoDropDownList");
            if (transfer.value() == "1") {
                return (frlocation.value() != tolocation.value());
            }
            return true;
        }, "Location cannot be the same for Country-Country");

        $("#mtf-add-form").validate({
            errorLabelContainer: ".validation-summary-valid",
            submitHandler: function (form) {
                form.submit();
            }
        });

        var TransferReasonId = $("#TransferReasonId").data("kendoDropDownList");
        // bind to the change event
        TransferReasonId.bind("change", function (e) {
            $("#mtf-add-form").valid();
        });

        var CurrentLocationId = $("#CurrentLocationId").data("kendoDropDownList");
        // bind to the change event
        CurrentLocationId.bind("change", function (e) {
            $("#mtf-add-form").valid();
        });

        var NewLocationId = $("#NewLocationId").data("kendoDropDownList");
        // bind to the change event
        NewLocationId.bind("change", function (e) {
            $("#mtf-add-form").valid();
        });




    });


</script>


