﻿@model AssetsInventory.Models.MaterialTransfer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MaterialTransfer</legend>

    <div class="display-label">TransferType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransferType.TransferTypeName)
    </div>

    <div class="display-label">TransferReason</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransferReason.TransferReasonName)
    </div>

    <div class="display-label">MaterialTransferNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaterialTransferNumber)
    </div>

    <div class="display-label">ManifestNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManifestNumber)
    </div>

    <div class="display-label">FromCountryId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FromCountryId)
    </div>

    <div class="display-label">CurrentLocationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentLocationId)
    </div>

    <div class="display-label">AFENumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AFENumber)
    </div>

    <div class="display-label">Transporter</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transporter)
    </div>

    <div class="display-label">ToCountryId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToCountryId)
    </div>

    <div class="display-label">NewLocationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewLocationId)
    </div>

    <div class="display-label">RepairWorkOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepairWorkOrder)
    </div>

    <div class="display-label">TruckNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TruckNumber)
    </div>

    <div class="display-label">AttnReceiver</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AttnReceiver)
    </div>

    <div class="display-label">ReceiverId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiverId)
    </div>

    <div class="display-label">ReceiverRef</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiverRef)
    </div>

    <div class="display-label">ShipToAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShipToAddress)
    </div>

    <div class="display-label">TransferComment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransferComment)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">OriginatorId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginatorId)
    </div>

    <div class="display-label">ManifestoInfo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManifestoInfo)
    </div>

    <div class="display-label">ApprovalStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovalStatus)
    </div>

    <div class="display-label">ApprovalDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApprovalDate)
    </div>

    <div class="display-label">DateModified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateModified)
    </div>

    <div class="display-label">DateAdded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>

    <div class="display-label">AddedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedById)
    </div>

    <div class="display-label">ModifiedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedById)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
    </p>
}
