﻿@model AssetsInventory.ViewModels.EditMaterialTransferPageViewModel
@using AssetsInventory.Utilities
@using AssetsInventory.ViewModels
@{
    ViewBag.Title = @AssetResource.MaterialTransferResource.MaterialTransferIndexTitle;
    var isreadonly = !User.IsInRole("Admin") && (!User.IsInRole("Admin") && Model.Status != "Draft"); //&& (Model.Status != "Disapproved" && !Model.IsOwned)
   
    //var isshipreadonly =  (Model.Status != "Draft" && Model.Status != "TransferRequested" && Model.IsOwned);
    //var isshipreadonly = (Model.Status == "Approved" && Model.IsOwned);
    var isshipreadonly = Model.IsShipReady;
}

@section Head
{
<script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
}
<h2>@AssetResource.MaterialTransferResource.MaterialTransferIndexTitle</h2>

<!-- window -->

<div id="cancelwindow">
    <p>Are you sure you want to cancel this Material Transfer Form?</p>
    <div>
        @using (Html.BeginForm("Cancel", "MaterialTransfer",new { id = Model.MaterialTransferId},FormMethod.Post))
        {
            <input type="submit" value="Yes" class="save-btn" />
            <input type="button" value="No" class="save-btn" id="btnNo" />
        }

        
    </div>
</div>

<div id="shipwindow">
    <p>Are you sure you want to Ship this Material Transfer Form?</p>
    <div>
        @using (Html.BeginForm("Ship", "MaterialTransfer",new { id = Model.MaterialTransferId},FormMethod.Post))
        {
            <input type="submit" value="Yes" class="save-btn" />
            <input type="button" value="No" class="save-btn" id="btnShipNo" />
        }

        
    </div>
</div>

<div id="searchassetwindow">
   @* @{Html.RenderAction("RenderAssetSearch", "Asset");}*@
   
</div>
<!-- end window -->

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{Html.EnableClientValidation();}
@using (Html.BeginForm("Edit", "MaterialTransfer", FormMethod.Post, new { id = "mtf-edit-form" }))
{
    @Html.ValidationSummary(false, "Please fix the following errors") @Html.Partial("ErrorMsg")
    <div id="mtf-tab">
        <ul>
            <li>Material Transfer Information</li>
            <li>Assets</li>
            <li>Approving Users/Country Managers</li>
          @*  <li>CountryManagers</li>*@
        </ul>
        <div>
            <fieldset>
        <legend>MaterialTransfer</legend>
        @Html.HiddenFor(model => model.MaterialTransferId)
        @Html.HiddenFor(model => model.IsOwned)
        @Html.HiddenFor(model => model.IsShipReady)

        <div class="mtr-left">
            <div class="editor-label">
            @Html.LabelFor(model => model.TransferTypeId, @AssetResource.MaterialTransferResource.TransferType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransferTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.TransferTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransferReasonId, @AssetResource.MaterialTransferResource.TransferReason)
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransferReasonId", null, new { @class = "iscountry" })
            @Html.ValidationMessageFor(model => model.TransferReasonId)
        </div>

        

        @if (Model != null)
        { 
        <div class="editor-label">
            @Html.LabelFor(model => model.MaterialTransferNumber, @AssetResource.AssetResource.MaterialTransferNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MaterialTransferNumber, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.MaterialTransferNumber)
        </div>
        }
        
        <div class="editor-label">
            @Html.LabelFor(model => model.FromCountryId, @AssetResource.MaterialTransferResource.FromCountry)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FromCountryId", String.Empty)
            @Html.ValidationMessageFor(model => model.FromCountryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentLocationId, @AssetResource.MaterialTransferResource.FromLocation)
        </div>
        <div class="editor-field" id="currentlocation">
            @*@Html.DropDownList("CurrentLocationId", String.Empty)*@
            @{Html.RenderAction("LocationDropdown", "Location", new { controlname = "CurrentLocationId", id = Model.CurrentLocationId });
}
            @*@Html.ValidationMessageFor(model => model.CurrentLocationId)*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RepairWorkOrder, @AssetResource.MaterialTransferResource.RepairWorkOrder)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RepairWorkOrder, new { @class = "readonly" })
            @Html.ValidationMessageFor(model => model.RepairWorkOrder)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.AttnReceiver, @AssetResource.MaterialTransferResource.AttnReceiver)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AttnReceiver, new { @class = "readonly" })
            @Html.ValidationMessageFor(model => model.AttnReceiver)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverId, @AssetResource.MaterialTransferResource.Receiver)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReceiverId", String.Empty)
            @Html.ValidationMessageFor(model => model.ReceiverId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverRef, @AssetResource.MaterialTransferResource.ReceiverRef)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ReceiverRef, new { @class = "readonly" })
            @Html.ValidationMessageFor(model => model.ReceiverRef)
        </div>

        
         <div class="editor-label">
            @Html.LabelFor(model => model.ManifestoInfo, @AssetResource.MaterialTransferResource.ManifestInfo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ManifestoInfo, new { @class = "readonly" })
            @Html.ValidationMessageFor(model => model.ManifestoInfo)
        </div>
        @if (isshipreadonly)
        {
            <div class="editor-label">
            @Html.LabelFor(model => model.TransferComment, @AssetResource.MaterialTransferResource.ShippingComments)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TransferComment, new { @class = "shipreadonly required" })
            @Html.ValidationMessageFor(model => model.TransferComment)
        </div> 
        }


        @if (Model != null)
        { 
        <div class="editor-label">
            @Html.LabelFor(model => model.Status, @AssetResource.MaterialTransferResource.Status)
        </div>
        <div class="editor-field">
        @{
            var statuscss = "normal";
            switch (Model.Status)
            {
                case "TransferRequested":
                case "Transit":
                    statuscss = "status-transferrequested";
                    break;
                case "Discrepancy":
                    statuscss = "status-discrecpancy";
                    break;
                default:
                    statuscss = "status-default";
                    break;
            }
        }
            <span class="@(statuscss)">@(Model.Status)</span>
          
        </div>   
             
        @*<div class="editor-label">
            @Html.LabelFor(model => model.ApprovalStatus, @AssetResource.MaterialTransferResource.ApprovalStatus)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ApprovalStatus)
            @Html.ValidationMessageFor(model => model.ApprovalStatus)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.ApprovalDate, @AssetResource.MaterialTransferResource.ApprovalDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ApprovalDate)
            @Html.ValidationMessageFor(model => model.ApprovalDate)
        </div>*@
        }

        </div>


        <div class="mtr-right">

        <div class="editor-label">
            @Html.LabelFor(model => model.Cautions, @AssetResource.MaterialTransferResource.Cautions)
        </div>
        <div class="editor-field">
            @Html.Raw(Html.CheckBoxList("cautionIds", (IEnumerable<SelectListItem>)ViewBag.CautionIds))
            @Html.ValidationMessageFor(model => model.Cautions)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.ToCountryId, @AssetResource.MaterialTransferResource.ToCountry)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ToCountryId", String.Empty)
            @Html.ValidationMessageFor(model => model.ToCountryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewLocationId, @AssetResource.MaterialTransferResource.ToLocation)
        </div>
        <div class="editor-field" id="newlocation">
            @*@Html.DropDownList("NewLocationId", String.Empty)*@
            @{Html.RenderAction("LocationDropdown", "Location", new { controlname = "NewLocationId", id = Model.NewLocationId });
}
            @*@Html.ValidationMessageFor(model => model.NewLocationId)*@
        </div>

        @if (isshipreadonly)
        { 
        <div class="editor-label">
            @Html.LabelFor(model => model.ManifestNumber, @AssetResource.MaterialTransferResource.ManifestNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ManifestNumber, new { @class = "shipreadonly" })
            @Html.ValidationMessageFor(model => model.ManifestNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TruckNumber, @AssetResource.MaterialTransferResource.TruckNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TruckNumber, new { @class = "shipreadonly" })
            @Html.ValidationMessageFor(model => model.TruckNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Transporter, @AssetResource.MaterialTransferResource.Transporter)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Transporter, new { @class = "shipreadonly" })
            @Html.ValidationMessageFor(model => model.Transporter)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ShipToAddress, @AssetResource.MaterialTransferResource.ShiptoAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ShipToAddress, new { @class = "shipreadonly" })
            @Html.ValidationMessageFor(model => model.ShipToAddress)
        </div>

        
         
        }
         <div class="editor-label">
            @Html.LabelFor(model => model.AFENumber, @AssetResource.MaterialTransferResource.AFENumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AFENumber, new { @class = "readonly" })
            @Html.ValidationMessageFor(model => model.AFENumber)
        </div>
           <div class="editor-label">
            @Html.LabelFor(model => model.OriginatorId, @AssetResource.MaterialTransferResource.OriginatorName)
        </div>
        <div class="editor-field">
            @*@Html.DisplayFor(model => model.OriginatorName)*@
            <div>@Model.OriginatorName</div>
            @Html.ValidationMessageFor(model => model.OriginatorId)
        </div>
        @*<div class="editor-label">
            @Html.LabelFor(model => model.Status, @AssetResource.MaterialTransferResource.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", string.Empty)
            @Html.ValidationMessageFor(model => model.Status)
        </div>*@

        </div>
        

        

        
    </fieldset>
    <script type="text/javascript">
        var locationreadonly = @(isreadonly ? "true" : "false");
    </script>
    @Html.Partial("MaterialTransferScript", new MaterialTransferLocationViewModel(Model.CurrentLocationId, Model.NewLocationId))
        </div>
        <div>
            <fieldset>
        <legend>Assets</legend>
        
        <table id="materialtransferasset_tbl">
            <thead>
                <tr>
                    <th data-field="asset">Asset</th>
                    <th data-field="nonassetdec">Non-Asset Description</th>
                    <th data-field="nonassetqty">Non-Asset Quantity</th>
                    <th data-field="condition">Condition</th>
                    @if (isshipreadonly)
                    {
                    <th data-field="etadays">ETA (in Days)</th> 
                    }
                    <th data-field="action"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var assetcount = Model.Assets != null ? Model.Assets.Count : 0;
                    var cnt = 1;
                    ViewData["disable"] = isreadonly;
                    ViewData["shipmode"] = isshipreadonly;
                    
                }
                @foreach (var item in Model.Assets)
                {
                    item.RowId = cnt;
                    ViewBag.Condition = new SelectList(ViewBag.ConditionEvaluations, "ConditionEvaluationId",
                                               "ConditionEvalDescription", item.ConditionEvaluationId);
                    Html.RenderPartial("MaterialTransferAssetControl", item, ViewData);
                    // Html.RenderAction("RenderMaterialTransferAsset", new { id = cnt, isship = isshipreadonly, conditionid = item.ConditionEvaluationId });
                    cnt++;
                }
            </tbody>
        </table>
        @if (!isreadonly)
        { 
        <a href="javascript:void(0)" id="addasset">Add</a>
        <a href="javascript:void(0)" id="searchasset">Search</a>    
        }
        
    </fieldset>
        </div>
        <div>@*@Html.Partial("MateialTransferApprovalControl", Model.ApprovingUsers)*@
        @{Html.RenderAction("RenderEditMaterialTransferApprovalControl", "MaterialTransfer", new { materialtransferid = Model.MaterialTransferId });
}
        @*@Html.Partial("MaterialTransferUsers", new MaterialTransferUserViewModel { Approval = Model.ApprovingUsers, NotifyUser = Model.NotifiedUsers})*@
        @*@{Html.RenderAction("RenderMateialTransferApprovalControl", "MaterialTransfer", new { transfertypeid = Model.TransferTypeId, countryid  = Model.FromCountryId});*@

        </div>
        @*<div>@Html.Partial("MaterialTransferCountryManagerControl", Model.CountryManagers)</div>*@
    </div>
    
    <p>
        <input type="submit" name="submit" value="Save" class="save-btn" id="save"/>
        
        @if (Model.IsApprover)
        {
            @Html.ActionLink("Approve/Disapprove", "MaterialTransferApproval", "MaterialTransfer", new { id = Model.MaterialTransferId, userid = Model.CurrentUserId }, new { @class = "approve-btn" })
        }
        @if (Model.IsShipReady)
        {
        @*<input type="button" class="save-btn" value="Ship" id="btnShip" />*@
            <input type="submit" name="submit" value="Ship" class="save-btn" id="ship"/>
        }
        
        @if (Model.IsForApproval)
        { 
            <input type="submit" name="submit" value="Send for Approval" class="save-btn" id="approval"/>
        @*@Ajax.ActionLink("Send for Approval", "SendApprovalNotification", new { id = Model.MaterialTransferId }
        , new AjaxOptions { Confirm = "This will send for approval/notifications", OnSuccess = "sendapprovalsuccess",OnFailure="alert('You should at least add 1 asset')" }, new { @class = "save-btn" })*@
        }
        @if (Model.IsCancellable)
        {
        <input type="button" class="save-btn" value="Cancel" id="btnCancel" />
        }
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        
    </p>
}



<script type="text/javascript">

    $(document).ready(function () {

        $("#btnCancel").click(function () {
            var cancelwindow = $("#cancelwindow").data('kendoWindow');
            cancelwindow.center().open();
        });
        $("#btnNo").click(function () {
            var cancelwindow = $("#cancelwindow").data('kendoWindow');
            cancelwindow.close();
        });
        $("#btnShip").click(function () {
            var shipwindow = $("#shipwindow").data('kendoWindow');
            shipwindow.center().open();
        });
        $("#btnShipNo").click(function () {
            var shipwindow = $("#shipwindow").data('kendoWindow');
            shipwindow.close();
        });





        var tabstrip = $("#mtf-tab").kendoTabStrip().data("kendoTabStrip");
        tabstrip.select(tabstrip.tabGroup.children("li:first"));

        //        $("#materialtransferasset_tbl").kendoGrid({
        //            height: 250,
        //            scrollable: {
        //                virtual: true
        //            },
        //            sortable: true

        //        });


        $("#addasset").click(function () {
            var url = '@(Url.Action("RenderMaterialTransferAsset", "MaterialTransfer"))';
            var assetcount = $("#materialtransferasset_tbl tbody tr").length + 1;
            @if (isshipreadonly)
            {
            <text>
                var myurl = url + "/" + assetcount.toString() + "?isship=true"
            </text>
            }
            else
            {
            <text>
                var myurl = url + "/" + assetcount.toString()
            </text>
            }
            
            $.get(myurl, function (data) {
                $('#materialtransferasset_tbl tbody').append(data);

            });
        });

       


    


    });


    function deletemtassetrow(row) {
        $(row).closest('tr').remove();
    }

    
    
</script>

<script type="text/javascript">
    function sendapprovalsuccess()
    {
         alert('Approving Users are notified');
         window.location.href = '@(Url.Action("Edit", "MaterialTransfer", new { id = Model.MaterialTransferId }))';
    }
     
    $(document).ready(function () {
         var window = $("#searchassetwindow"),
                        undo = $("#searchasset")
                                .bind("click", function() {
                                    window.data("kendoWindow").center().open();
                                    undo.hide();
                                });

                    var onClose = function() {
                        undo.show();
                    }

                    if (!window.data("kendoWindow")) {
                        window.kendoWindow({
                              draggable: false,
                             resizable: false,
                             width: "700px",
                             height: "550px",
                             title: "Search Assets",
                             modal: true,
                             visible: false,
                             content:'@(Url.Action("RenderAssetSearch", "Asset"))',
                            close: onClose
                        });
                    }

        jQuery.validator.addMethod("iscountry", function (value, element) {
            var transfer = $("#TransferReasonId").data("kendoDropDownList");
            var frlocation = $("#CurrentLocationId").data("kendoDropDownList");
            var tolocation = $("#NewLocationId").data("kendoDropDownList");
            if (transfer.value() == "1") {
                return (frlocation.value() != tolocation.value());
            }
            return true;
        }, "Location cannot be the same for Country-Country");

//        $("#mtf-edit-form").validate({
//            rules: {
//            IsShipped: {
//                required: true,
//                minlength: 1
//            }
//        },
//        messages: {
//            IsShipped: "Please specify at least 1 asset for shipping"
//        },
//            submitHandler: function (form) {
//                form.submit();
//            }
//        });

        var TransferReasonId = $("#TransferReasonId").data("kendoDropDownList");
        // bind to the change event
        TransferReasonId.bind("change", function (e) {
            $("#mtf-edit-form").valid();
        });

        var CurrentLocationId = $("#CurrentLocationId").data("kendoDropDownList");
        // bind to the change event
        CurrentLocationId.bind("change", function (e) {
            $("#mtf-edit-form").valid();
        });

        var NewLocationId = $("#NewLocationId").data("kendoDropDownList");
        // bind to the change event
        NewLocationId.bind("change", function (e) {
            $("#mtf-edit-form").valid();
        });

        function lockShipElements(){
            $(".shipreadonly").attr("readonly", "readonly");
        }

        function lockEditMTFElements() {
            $(".readonly").attr("readonly", "readonly");
            //$("input").attr("readonly", "readonly");
            var TransferTypeId = $("#TransferTypeId").data("kendoDropDownList");
            var TransferReasonId = $("#TransferReasonId").data("kendoDropDownList");
            var CurrentLocationId = $("#CurrentLocationId").data("kendoDropDownList");
            var NewLocationId = $("#NewLocationId").data("kendoDropDownList");
            var ReceiverId = $("#ReceiverId").data("kendoDropDownList");
            if (TransferTypeId != undefined) TransferTypeId.enable(false);
            if (TransferReasonId != undefined) TransferReasonId.enable(false);
            if (CurrentLocationId != undefined) CurrentLocationId.enable(false);
            if (NewLocationId != undefined) NewLocationId.enable(false);
            if (ReceiverId != undefined) ReceiverId.enable(false);

        }  

        @if (isreadonly)
        {<text>
        lockEditMTFElements();
        </text>}
        @if (!isshipreadonly)
        {<text>
        lockShipElements();
        </text>}


        $("#cancelwindow").kendoWindow({
             draggable: false,
             resizable: false,
             width: "300px",
             height: "200px",
             title: "Cancel Material Transfer Form",
             modal: true,
             visible: false
         });

         $("#shipwindow").kendoWindow({
             draggable: false,
             resizable: false,
             width: "300px",
             height: "200px",
             title: "Ship Material Transfer Form",
             modal: true,
             visible: false
         });

//          $("#searchassetwindow").kendoWindow({
//             draggable: false,
//             resizable: false,
//             width: "700px",
//             height: "450px",
//             title: "Search Assets",
//             modal: true,
//             visible: false
//         });

        
    });

    $("#mtf-edit-form").validate({
            rules: {
            IsShipped: {
                required: true,
                minlength: 1
            },
            ManifestNumber: {required:true},
            Transporter: {required:true},
            TruckNumber:{required:true},
            ShipToAddress: {required:true}
        },
        messages: {
            IsShipped: "Please specify at least 1 asset for shipping",
            ManifestNumber : "ManifestNumber is required",
            Transporter : "Transporter is required",
            TruckNumber : "TruckNumber is required",
            ShipToAddress : "ShipToAddress is required"
        },
            submitHandler: function (form) {
                form.submit();
            },
            errorLabelContainer: ".validation-summary-valid",
            wrapper: "li"
        });


</script>

    



