﻿@model IEnumerable<AssetsInventory.DTO.MaterialTransferDTO>

@{
    ViewBag.Title = AssetResource.MaterialTransferResource.MaterialTransfer;
}

@section Head
{
<script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
}
<h2>@AssetResource.MaterialTransferResource.MaterialTransfer List</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class="create-btn"})
    
</p>

@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
#if (Status != "Cancelled") { #
    <a href='@(Url.Action("Edit"))/#= MaterialTransferId #'>@AssetResource.Common.Edit</a> |

    <a href='@(Url.Action("Delete"))/#= MaterialTransferId #'>@AssetResource.Common.Delete</a>
# } #
</script>
<script id="mtftemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Print"))/#= MaterialTransferId #'>#= MaterialTransferNumber #</a> 
</script>
<script id="statustemplate" type="text/x-kendo-template">
    #
    var statuscss = "normal";
    switch (Status) {
        case "Transit":
        case "In Transit":
            statuscss = "status-green";
            break;
        case "Discrepancy":
        case "Cancelled":
        case "Disapproved":
            statuscss = "status-red";
            break;
        
        default:
            statuscss = "status-black";
            break;

    }
    #
    <div id='statusindex#= MaterialTransferId #' class='statusindex #= statuscss #'>
    #= Status #
    </div>
   

</script>
 <script type="text/javascript">
     var dateRegExp = /^\/Date\((.*?)\)\/$/;

                function toDate(value) {
                    if (value == null) return "";
                    var date = dateRegExp.exec(value);
                    return new Date(parseInt(date[1]));
                }

                var sharableDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@(Url.Action("List", "MaterialTransfer"))',
                            dataType: "json"
                        }
                    },
                    pageSize: @(ViewData["pagesize"]),
                    schema: {
                        data: function (result) {
                            return result;
                        },
                        total: function (result) {
                            return result.length;
                        }
                    },
                    change: function () {
                        var info = $(".k-grid-pager .info");

                        // if it does not exist yet - create it
                        if (!info.length) {
                            info = $('<div class="info"/>').appendTo(".k-grid-pager");
                        }

                        // set the text of the "info" div
                        info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
                    }
                });

                $(document).ready(function () {
                    
                    

                    $("#grid").kendoGrid({
                        dataSource: sharableDataSource,
                        height: 320,
                        filterable: true,
                        sortable: true,
                        pageable: true,
                        dataBound: function (e) {

                            $(".statusindex").each(function () {
                                var td = $(this).parent().closest('td');
                                var div = td.find('div.statusindex');
                                td.addClass(div.attr('class'));
                            });

                        },
                        columns: [
                        {
                            field: "MaterialTransferNumber",
                            title: "MT #",
                            template: kendo.template($("#mtftemplate").html())
                        },
                        {
                            field: "TransferTypeName",
                            title: "Transfer Type"
                        },
                        {
                            field: "FromCountry",
                            title: "FromCountry"
                        },
                        {
                            field: "ToCountry",
                            title: "ToCountry"
                        },
                        {
                            field: "DateAdded",
                            template: '#= kendo.toString(toDate(DateAdded), "MM/dd/yyyy")#'
                        },
                        {
                            field: "AFENumber",
                            title: "AFE #",
                            width: 50
                        },
                         {
                             field: "Status",
                             title: "Status",
                             width: 120,
                             template: kendo.template($("#statustemplate").html())
                         },
                         {
                             field: "Initiator",
                             title: "Initiator"
                         },
                         {
                            field: "DateApproved",
                            template: '#= kendo.toString(toDate(DateApproved), "MM/dd/yyyy")#'
                        },
                         {
                             field: "MaterialTransferId",
                            title: "Action",
                            template: kendo.template($("#gridtemplate").html()),
                            filterable: false,
                            sortable: false
                        }
                        

                        ]
                    });

                    

                       
                });
            </script>