﻿@model IEnumerable<AssetsInventory.DTO.MaterialTransferCountryManagerDTO>
<fieldset>
    <legend>Country Managers</legend>
    <table id="countrymgr-grid">
        <thead>
            <tr>
                <th data-field="fullame">FullName</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    @*@if (item.MaterialTransferApprovalId > 0 && item.ApprovingUser.UserId > 0)
                    { 
                    <td>@Html.ActionLink("Re-send approval link", "SendForApproval", new { id = item.MaterialTransferApprovalId, userid = item.ApprovingUser.UserId }, null)</td>
                    }
                    else{
                        <td></td>
                    }*@
                </tr>
            }
        </tbody>
    </table>
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {
        $("#countrymgr-grid").kendoGrid({
            height: 100,
            scrollable: {
                virtual: true
            },
            sortable: true

        });
    });
</script>