﻿@model AssetsInventory.ViewModels.MaterialTransferLocationViewModel

<script type="text/javascript">
    var locationisreadonly = typeof locationreadonly == "undefined" ? false : locationreadonly;
    
    function DisableCountryLocations() {
            var tocountry = $("#ToCountryId").data("kendoDropDownList");
            var frcountry = $("#FromCountryId").data("kendoDropDownList");
            var currentloc = $("#CurrentLocationId").data("kendoDropDownList");
            var newloc = $("#NewLocationId").data("kendoDropDownList");

            tocountry.enable(false);
            frcountry.enable(false);
            currentloc.enable(false);
            newloc.enable(false);
        }
    $(document).ready(function () {

        

        function loadCurrentLocation()
        {
       // $("#CurrentLocationId").kendoDropDownList();
       
            var url = '@(Url.Action("LocationDropdown","Location"))';
            var frcountry = $("#FromCountryId").data("kendoDropDownList");

            @if (Model != null && Model.CurrentLocationId.HasValue)
            { 
            <text>
                url = url + "/" + "@(Model.CurrentLocationId)";
            </text>
            }
            url = url + "?controlname=CurrentLocationId&countryid=" + frcountry.value();
            $("#currentlocation").load(url,function(){

//               var loc = $("#CurrentLocationId").data("kendoDropDownList");
//                loc.enable(!locationisreadonly);
            });
        }

        function loadNewLocation()
        {
         
            var url = '@(Url.Action("LocationDropdown","Location"))';
            var tocountry = $("#ToCountryId").data("kendoDropDownList");

            @if (Model != null && Model.NewLocationId.HasValue)
            { 
            <text>
                url = url + "/" + "@(Model.NewLocationId)";
            </text>
            }
            url = url + "?controlname=NewLocationId&countryid=" + tocountry.value();
            $("#newlocation").load(url,function(){
                

//                var loc = $("#NewLocationId").data("kendoDropDownList");
//                loc.enable(!locationisreadonly);
            });
        }

        function onChangeTransferType() {
            var tocountry = $("#ToCountryId").data("kendoDropDownList");
            var frcountry = $("#FromCountryId").data("kendoDropDownList");
            var transfertype = $("#TransferTypeId").data("kendoDropDownList");
            if (transfertype.value() == 1) {
                tocountry.value(frcountry.value());
            }
            var enabled = transfertype.value() == "1";
            tocountry.enable(!enabled);

            loadCurrentLocation();
            loadNewLocation();

        }

        $("#TransferTypeId").kendoDropDownList({
            change: onChangeTransferType
        });


        $("#TransferReasonId").kendoDropDownList();



        $("#FromCountryId").kendoDropDownList({
            change: onChangeTransferType
        });


        $("#ReceiverId").kendoDropDownList();
        $("#ToCountryId").kendoDropDownList({
            change: loadNewLocation
        });
        onChangeTransferType();
        //oadNewLocation();

        
            @if (Model.CurrentLocationId.HasValue)
            { 
                <text>
                    DisableCountryLocations();
                </text>
            }
        


    });


    
</script>