﻿@model IEnumerable<AssetsInventory.DTO.MaterialTransferApprovalDTO>
<fieldset>
    <legend>Country Managers</legend>

    @Html.DropDownList("CountryMgr") <input type="button" id="btncmadd" value="Add" />
    

    @*<div id="grid"></div>*@
    <table id="grid">
        <thead>
            <tr>
                <th data-field="fullname">FullName</th>
                <th data-field="action"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                        <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
</fieldset>
<script id="countrymgrtemplate" type="text/x-kendo-template">
<tr>
    <td>
    ${ FullName }<input type='hidden' name='countrymgrs' value='${UserId}'/>
    </td>
</tr>
</script>
<script type="text/javascript">
    var data = [];


    $(document).ready(function () {
        $("#btncmadd").click(function () {
            var countrymgr = $("#CountryMgr").data("kendoDropDownList");
            var newobj = new Object();
            newobj.UserId = countrymgr.value();
            newobj.FullName = countrymgr.text();

            if ($.inArray(newobj, data) == -1)
                data.push(newobj);

            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.data(data);
            grid.refresh(); 

        });

        $("#grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            UserId: { type: "number" },
                            FullName: { type: "string" }

                        }
                    }
                },
                pageSize: 10
            },
            rowTemplate: kendo.template($("#countrymgrtemplate").html()),
            height: 250,
            scrollable: true,
            pageable: true,
            columns: [

                            {
                                field: "FullName",
                                title: "Full Name"
                            }

                        ]
        });

        $("#CountryMgr").kendoDropDownList();
    });
</script>