﻿@model AssetsInventory.DTO.MaterialTransferAssetDTO
           @{
               var isreadonly = (bool)(ViewData["disable"] != null ? ViewData["disable"] : false);
               var shipmode = (bool)(ViewData["shipmode"] != null ? ViewData["shipmode"] : false);
           }
<tr id="asset-row@(Model.RowId)">
    <td>
        @Html.HiddenFor(m=>m.MTA_AssetId)
        @if (shipmode)
        {
            @Html.CheckBoxFor(m => m.IsShipped, new { id = "mta-asset-isship" + Model.RowId.ToString() })
        }
        else
        { 
            @Html.HiddenFor(m=>m.IsShipped)
        }
        @if (!isreadonly)
        { 
        @Html.TextBoxFor(m => m.MTA_AssetUniqueId, new { @class = "autocomplete-text ", @style = "width:300px;", id = "mta-asset-" + Model.RowId.ToString() })
        }
        else
        { 
           @Html.TextBoxFor(m => m.MTA_AssetUniqueId, new { @class = "autocomplete-text ", @style = "width:300px;", id = "mta-asset-" + Model.RowId.ToString(),@readonly = "readonly" })
        }
        
    </td>
    <td>
        @if (!isreadonly)
        { 
        @Html.TextBoxFor(m => m.NonAssetDescription)
        }
        else
        { 
            @Html.TextBoxFor(m => m.NonAssetDescription, new { @readonly = " readonly " })
        }
    </td>
    <td>
        @if (!isreadonly)
        { 
        @Html.TextBoxFor(m => m.NonAssetQuantity)
        }
        else
        { 
            @Html.TextBoxFor(m => m.NonAssetQuantity, new { @readonly = " readonly " })
        }
    </td>
    <td>
        @Html.DropDownList("Condition", null, new { id = "Condition" + Model.RowId.ToString()})
    </td>
    <td>
        @if (shipmode)
        {
            @Html.TextBoxFor(m => m.ETADays, new { id = "mta-etadays" + Model.RowId.ToString() })
        }
        else
        { 
            @Html.HiddenFor(m=>m.ETADays)
        }
    </td>
    <td>
    @if (!isreadonly)
    { 
    <input type="button" value="Delete" onclick="deletemtassetrow(this);" />
    }
    </td>
</tr>

<script type="text/javascript">
    $(document).ready(function () {

        //        var url = '@(Url.Action("GetAssets", "Asset"))';
        //        $(".autocomplete-text").autocomplete({
        //            source: url + "/" + $("#FromCountryId").val(),
        //            minLength: 2,
        //            select: function (event, ui) {

        //                var tr = $("#MTA_AssetUniqueId").closest('tr');
        //                $(tr).find("#MTA_AssetId").val(ui.item.id);
        //            }
        //        });




        var url = '@(Url.Action("GetAssets", "Asset"))';



        $("#mta-asset-@(Model.RowId.ToString())").kendoAutoComplete({
            minLength: 3,
            dataTextField: "AssetUniqueId",
            dataValueField: "AssetId",
            template: '<dl>' +
                                      '<dt>Asset Id:</dt><dd>${ data.AssetUniqueId }</dd>' +
                                      '<dt>Category:</dt><dd>${ data.Category }</dd>' +
                                      '<dt>Subcategory:</dt><dd>${ data.Subcategory }</dd>' +
                                      '<dt>Manufacturer:</dt><dd>${ data.Manufacturer }</dd>' +
                                      '<dt>SerialNumber:</dt><dd>${ data.SerialNumber }</dd>' +
                                  '</dl>',
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: url,
                        dataType: "json",
                        filter: "contains",
                        data: {
                            term: function () {
                                var assetid = $("#mta-asset-@(Model.RowId.ToString())");
                                return assetid.val();
                            },
                            id: function () {
                                var location = $("#FromCountryId").data('kendoDropDownList');
                                return location.value();
                            }
                        }
                    }
                }
            })
        });


        $("#Condition@(Model.RowId)").kendoDropDownList();


    });
</script>