﻿@model AssetsInventory.ViewModels.MaterialTransferApprovalPageViewModel
@{
    ViewBag.Title = "Approval";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
<div>
    <fieldset>
        <legend>Approval</legend>

       <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", null, new { @class="required"})
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>
        <div>
            <input type="submit" value="@AssetResource.Common.Submit" class="save-btn" />
        </div>
    </fieldset>
</div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#Status").kendoDropDownList();
    });
</script>