﻿@model AssetsInventory.ViewModels.MaterialTransferUserViewModel

<fieldset>
    <legend>Approving Users</legend>
    <table id="approvinguser-grid">
        <thead>
            <tr>
                <th data-field="fullname">FullName</th>
                <th data-field="position">Position</th>
                <th data-field="approvaldatetime">Action / Date</th>
                <th data-field="action"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Approval)
            {
                <tr>
                    <td>@item.ApprovingUser.FullName</td>
                    <td>@item.ApprovingUser.Position</td>
                    <td>@item.ApprovalStatus / @(item.ApprovalDateTime.HasValue ? item.ApprovalDateTime.Value.Date.ToShortDateString() : string.Empty) </td>
                    @if (item.MaterialTransferApprovalId > 0 && item.ApprovingUser.UserId > 0)
                    { 
                    <td>@Html.ActionLink("Re-send approval link", "SendForApproval", new { id = item.MaterialTransferApprovalId, userid = item.ApprovingUser.UserId }, null)</td>
                    }
                    else{
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</fieldset>


<fieldset>
    <legend>Notified Users</legend>
    <table id="notify-grid">
        <thead>
            <tr>
                <th data-field="fullname">FullName</th>
                <th data-field="position">Position</th>
                <th data-field="action"></th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NotifyUser)
            {
                <tr>
                    <td>@item.NotifiedUser.FullName</td>
                    <td>@item.NotifiedUser.Position</td>
                    @if (item.MaterialTransferApprovalId > 0 && item.NotifiedUser.UserId > 0)
                    { 
                    <td>@Html.ActionLink("Re-send approval link", "SendForApproval", new { id = item.MaterialTransferApprovalId, userid = item.NotifiedUser.UserId }, null)</td>
                    }
                    else{
                        <td></td>
                    }
                   
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        $("#approvinguser-grid").kendoGrid({
            height: 100,
            scrollable: {
                virtual: true
            },
            sortable: true

        });
        $("#notify-grid").kendoGrid({
            height: 100,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>