﻿@model AssetsInventory.ViewModels.MaterialTransferPrintPageViewModel
@using AssetsInventory.Utilities
@using AssetsInventory.ViewModels
@using AssetResource
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

@section Head
{
    <style type="text/css" media="screen,projection,print">
            tbody tr:nth-child(even) td, tbody tr.even td {
             background-color:transparent;
            }
            table, th, td
            {
            border: 1px solid black;
            padding:0;
            vertical-align:top;
            margin:0;
            }   
           thead th
           {
               text-align:center;
           }
           ul
           {
               list-style-type:none;
           }
           .checkboxList ul 
           {
               float:left;
               padding:0;
               margin:0;
           }
           
           .checkboxList ul li
           {
               float:left;
               padding:0;
               margin:0;
               width:145px;
           }
           
           #main-table td
           {
               border-bottom:none;
               
           }
           
           .child-table td
           {
               padding:2px;
           }
           
           .center
           {
               text-align:center;
           }
           
           .bold
           {
               font-weight:bold;
           }
           
          
    </style>
}

@*<a href="@(Url.Action("Index","Home"))" id="applogo"></a>*@
<img src="@Url.Content("~/Content/logo/logo.jpg")" alt="logo" class="logo" />
<div class="title-div span-24 center">

<h2>Material Transfer Form</h2></div>

<table id="main-table">
    <tr>
        <td>
            <table class="child-table">
                <thead>
                    <tr>
                        <th class="span-4">@MaterialTransferResource.TransferType</th>
                        <th class="">@MaterialTransferResource.TransferReason</th>
                        <th class="span-4">@MaterialTransferResource.Cautions</th>
                        <th class="span-4 last">M.T. Reference</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.Raw(Html.CheckBoxList("typeIds", (Model.TransferTypes)))</td>
                        <td>@Html.Raw(Html.CheckBoxList("typeIds", (Model.TransferReasons)))</td>
                        <td>@Html.Raw(Html.CheckBoxList("typeIds", (Model.Cautions)))</td>
                        <td>
                            <div>
                                @Model.MaterialTransferNumber
                            </div>
                            <div>
                                Date: @(string.Format("{0:d}", DateTime.Parse(Model.MtfDate)))
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
            <td>
            <table class="child-table">
                <tbody>
                    <tr>
                        <td class="span-3 bold">@AssetResource.MaterialReqNumber</td>
                        <td class="span-3">@Model.MaterialRequestNumber</td>
                        <td class="span-6 bold" rowspan="3">@MaterialTransferResource.ShippingComments</td>
                        <td class="span-3 bold">@MaterialTransferResource.FromCountry</td>
                        <td class="span-3">@Model.FromCountry</td>
                        <td class="span-3 bold">@MaterialTransferResource.FromLocation</td>
                        <td class="span-3">@Model.FromLocation</td>
                    </tr>
                    <tr>
                        <td class="span-3 bold">@MaterialTransferResource.AFENumber</td>
                        <td class="span-3">@Model.AfeReference</td>
                        @*<td class="span-6">@MaterialTransferResource.ShippingComments</td>*@
                        <td class="span-3 bold">@MaterialTransferResource.ToCountry</td>
                        <td class="span-3">@Model.ToCountry</td>
                        <td class="span-3 bold">@MaterialTransferResource.ToLocation</td>
                        <td class="span-3">@Model.ToLocation</td>
                    </tr>
                     <tr>
                        <td class="span-3 bold">@MaterialTransferResource.RepairWorkOrder</td>
                        <td class="span-3">@Model.RepairWorkOrder</td>
                       @* <td class="span-6">@MaterialTransferResource.ShippingComments</td>*@
                        <td class="span-3 bold">@MaterialTransferResource.AttnReceiver</td>
                        <td class="span-3">@Model.AttnReceiver</td>
                        <td class="span-3 bold">@MaterialTransferResource.ReceiverRef</td>
                        <td class="span-3">@Model.ReceiverRef</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="child-table">
                <thead>
                    <tr>
                        <th class="span-1"></th>
                        <th class="span-1"></th>
                        <th class="span-6"></th>
                        <th class="span-6" colspan="5">Equipment Condition</th>
                        <th class="span-1"></th>
                        <th class="span-1"></th>
                        <th class="span-1"></th>
                        
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th class="span-1">Item No.</th>
                        <th class="span-1">Qty</th>
                        <th class="span-6">Equipment Type</th>
                        <th class="span-6" colspan="4">Condition</th>
                       @* <th class="span-1">New</th>
                        <th class="span-1">Oper</th>
                        <th class="span-1">Repair</th>
                        <th class="span-1">Junk</th>*@
                        <th class="span-3">ASSET #</th>
                        <th class="span-3">Serial #</th>
                        <th class="span-3">MANUFACTURER</th>
                        <th class="span-3">MODEL</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var linectr = 1;
                    }
                    @foreach (var item in Model.Assets)
                    {
                         <tr>
                        <td>@(linectr)</td>
                        <td>1</td>
                        <td>@(item.Category + "-" + item.SubCategory)</td>
                        @*<td></td>
                        <td></td>
                        <td></td>
                        <td></td>*@
                        <td class="span-6" colspan="4">@(item.Condition)  Status: @(item.Status)</td>
                        <td>@item.AssetUniqueId</td>
                        <td>@item.SerialNumber</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.ModelType</td>
                     </tr>
                        linectr++;
                    }
                   
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="child-table">
                <thead>
                    <tr>
                        <th colspan="2" class="bold">@MaterialTransferResource.ShiptoAddress</th>
                        <th>@MaterialTransferResource.ShippingComments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">@Model.ShipToAddress</td>
                        <td rowspan="3">@(string.IsNullOrWhiteSpace(Model.ShippingComments) ? "  " : Model.ShippingComments)</td>
                    </tr>
                    <tr>
                        <td colspan="2"> - </td>
                        
                    </tr>
                    <tr>
                        <td class="span-6 bold">Receiver Phone No:</td>
                        <td class="span-6"></td>
          
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="child-table">
                <thead>
                    <tr>
                        <th class="span-7" colspan="2">Print Name</th>
                @*        <th class="span-4">Signature</th>*@
                        <th class="span-3">Action / Date</th>
                        <th class="span-6">Status</th>
                      @*  <th class="span-4" colspan="2">Data Entry</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="span-3">Originator</td>
                        <td class="span-4">@Model.Originator</td>
                       @* <td class="span-4"></td>*@
                        <td class="span-3">@(Model.MtfDate)</td>
                        <td class="span-6" rowspan="5"><div>@Model.Status
                        </div></td>
                        @*<td class="span-4" colspan="2">Initial in space</td>*@
                    </tr>

                    @foreach (var item in Model.Approvals)
                    {
                       <tr>
                        <td class="span-3">Approval</td>
                        <td class="span-4">@(item.ApprovingUser.FirstName + " " + item.ApprovingUser.LastName)</td>
               
                        <td class="span-3">@(item.ApprovalStatus) - @(item.ApprovalDateTime.HasValue ? item.ApprovalDateTime.Value.ToShortDateString() : string.Empty)</td>
           
                    </tr>
                    }
                    
                   
                </tbody>
            </table>
        </td>
    </tr>
</table>


