﻿@model AssetsInventory.ViewModels.MaterialTransferReceivePageViewModel

@{
    ViewBag.Title = "Receive Material Transfer";
}
<h2>Receive Material Transfer</h2>
@using (Html.BeginForm())
{
    
@Html.HiddenFor(model => model.MaterialTransferId)
<fieldset>
    <legend>Assets</legend>
    <table>
        <colgroup>
            <col style="width:20%;">
            <col style="width:60%;">
            <col style="width:20%;">
        </colgroup>
        <thead>
            <tr>
                <th>Asset</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Condition</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assets)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.MTA_AssetUniqueId)
                    @Html.HiddenFor(m => item.MTA_AssetUniqueId)
                    </td>
                    <td>@Html.DisplayFor(m => item.NonAssetDescription)</td>
                    <td>@Html.DisplayFor(m => item.NonAssetQuantity)</td>
                    <td>@Html.DropDownListFor(m => item.Status, (IEnumerable<SelectListItem>)ViewBag.AssetStatus, new { @class = "assetstatus" })</td>
                    <td>@Html.DropDownListFor(m => item.ConditionEvaluationId, (IEnumerable<SelectListItem>)ViewBag.ConditionEvaluation, new { @class = "conditionevaluation" })</td>
                    <td>@Html.TextAreaFor(m => item.Comment)</td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Submit" class="save-btn" />
</fieldset>

@*<fieldset>
    <legend>Material Transfer</legend>


        @Html.HiddenFor(model => model.MaterialTransferId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Status, @AssetResource.MaterialTransferResource.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Status", String.Empty)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
        <div class="editor-label" style="clear:both;">
            @Html.LabelFor(model => model.Comments, @AssetResource.AssetResource.Comment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>
        <input type="submit" value="Submit" class="save-btn" />
    
</fieldset>*@
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#Status").kendoDropDownList();

        $(".assetstatus").kendoDropDownList();

        $(".conditionevaluation").kendoDropDownList();
    });
</script>


