﻿@model AssetsInventory.Models.Document

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("AssetCreate", "Document", FormMethod.Post, new { id = Model.AssetId, enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>@AssetResource.AssetResource.DocumentInfoLabel</legend>
        @Html.HiddenFor(model => model.AssetId)
        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentTypeId, @AssetResource.Common.DocumentType)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DocumentTypeId", string.Empty)
            @Html.ValidationMessageFor(model => model.DocumentTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentName, @AssetResource.AssetResource.DocumentName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentName)
            @Html.ValidationMessageFor(model => model.DocumentName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentDescription, @AssetResource.AssetResource.DocumentDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentDescription)
            @Html.ValidationMessageFor(model => model.DocumentDescription)
        </div>

        <div class="editor-label">
            <label for="file">@AssetResource.AssetResource.Filename:</label>
        </div>

        <div class="editor-field">
        <input type="file" name="file" id="file" />
        </div>
        

    </fieldset>
     <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
             @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = Model.AssetId }, new { @class = "redirect-lnk" })
            
        </p>
}



<script type="text/javascript">
    $(document).ready(function () {
        $("#file").kendoUpload({multiple:false});

        $("#DocumentTypeId").kendoDropDownList();
    });
</script>
