﻿@model AssetsInventory.Models.Document

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Document</legend>
     @Html.HiddenFor(model => model.AssetId)
    <div class="display-label">DocumentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentName)
    </div>

    <div class="display-label">DocumentDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentDescription)
    </div>

    <div class="display-label">Asset</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asset.AssetUniqueId)
    </div>

    <div class="display-label">DateModified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateModified)
    </div>

    <div class="display-label">DateAdded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>

    <div class="display-label">AddedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedById)
    </div>

    <div class="display-label">ModifiedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedById)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = Model.AssetId }, null)
    </p>
}
