﻿@model AssetsInventory.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>Document</legend>

    <div class="display-label">DocumentName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentName)
    </div>

    <div class="display-label">DocumentDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentDescription)
    </div>

    <div class="display-label">Asset</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Asset.AssetUniqueId)
    </div>

    <div class="display-label">DateModified</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateModified)
    </div>

    <div class="display-label">DateAdded</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>

    <div class="display-label">AddedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedById)
    </div>

    <div class="display-label">ModifiedById</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedById)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.DocumentId }) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
