﻿@model AssetsInventory.Models.Document

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>Document</legend>

        @Html.HiddenFor(model => model.DocumentId)
        @Html.HiddenFor(model => model.AssetId)
        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentTypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DocumentTypeId", string.Empty)
            @Html.ValidationMessageFor(model => model.DocumentTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DocumentName, new { @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.DocumentName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DocumentDescription)
            @Html.ValidationMessageFor(model => model.DocumentDescription)
        </div>

        

        
    </fieldset>
    @Html.Partial("CreatedValues")
    <p>
            <input type="submit" value="Save" class="save-btn"/>
             @Html.ActionLink(@AssetResource.Common.BacktoAsset, "Edit", "Asset", new { id = Model.AssetId }, new { @class = "redirect-lnk" })
        </p>
}


<script type="text/javascript">
    $(document).ready(function () {

        $("#DocumentTypeId").kendoDropDownList();
    });
</script>