﻿@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>

<p>
@Html.ActionLink("Back to Site","Index","Home")
</p>
