﻿@{
    ViewBag.Title = "EmailSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailSent</h2>
<p>Your password is sent to @TempData["email"]
</p>

@Html.ActionLink("Main Page","Index","Home")
