﻿@model AssetsInventory.Models.ModelType

@{
    ViewBag.Title = AssetResource.AssetResource.Manufacturer;
}

<h2>@string.Format("{0}{1}{2}", AssetResource.Common.Create,":", ViewBag.Manufacturer)</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>ModelType</legend>
        @Html.HiddenFor(model=>model.ManufacturerId)
        <div class="editor-label">
            @Html.LabelFor(model => model.ModelTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelTypeName)
            @Html.ValidationMessageFor(model => model.ModelTypeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelTypeDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelTypeDescription)
            @Html.ValidationMessageFor(model => model.ModelTypeDescription)
        </div>

       

        <p>
            <input type="submit" value="@AssetResource.Common.Create" class="save-btn"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", "Manufacturer")
</div>
