﻿@model AssetsInventory.Models.ModelType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ModelType</legend>

    <div class="display-label">ModelTypeName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelTypeName)
    </div>

    <div class="display-label">ModelTypeDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelTypeDescription)
    </div>

    <div class="display-label">Manufacturer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="save-btn"/> |
        @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
    </p>
}
