﻿@model AssetsInventory.Models.ModelType

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>ModelType</legend>

    <div class="display-label">ModelTypeName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelTypeName)
    </div>

    <div class="display-label">ModelTypeDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModelTypeDescription)
    </div>

    <div class="display-label">Manufacturer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
    </div>
     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.ModelTypeId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
