﻿@model AssetsInventory.Models.ModelType

@{
    ViewBag.Title = @AssetResource.AssetResource.ModelType;
}

<h2>@AssetResource.AssetResource.ModelType</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Please fix the following errors") @Html.Partial("ErrorMsg")
    <fieldset>
        <legend>ModelType</legend>

        @Html.HiddenFor(model => model.ModelTypeId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelTypeName)
            @Html.ValidationMessageFor(model => model.ModelTypeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelTypeDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModelTypeDescription)
            @Html.ValidationMessageFor(model => model.ModelTypeDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ManufacturerId, "Manufacturer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ManufacturerId", String.Empty)
            @Html.ValidationMessageFor(model => model.ManufacturerId)
        </div>

        
    </fieldset>
    <p>
            <input type="submit" value="Save" class="save-btn"/>
            @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
        </p>
    @Html.Partial("CreatedValues")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ManufacturerId").kendoDropDownList();

    });
</script>
