﻿@model IEnumerable<AssetsInventory.Models.ModelType>

@{
    ViewBag.Title = @AssetResource.AssetResource.ModelType;
}

<h2>@AssetResource.AssetResource.ModelType</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
@*<table id="modeltype-grid">
    <tr>
        <th data-field="modeltype">
            ModelTypeName
        </th>
        <th data-field="desc">
            ModelTypeDescription
        </th>
        <th data-field="manufacturer">
            Manufacturer
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.ModelTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModelTypeId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.ModelTypeId })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#modeltype-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>*@

@Html.Partial("GridPageCounter") <div id="grid"></div>

<script id="gridtemplate" type="text/x-kendo-template">
    <a href='@(Url.Action("Edit"))/#= Id #'>@AssetResource.Common.Edit</a> |
    <a href='@(Url.Action("Details"))/#= Id #'>@AssetResource.Common.Details</a> |
    <a href='@(Url.Action("Delete"))/#= Id #'>@AssetResource.Common.Delete</a>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var sharableDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@(Url.Action("List", "ModelType"))',
                    dataType: "json"
                }
            },
            pageSize: @(ViewData["pagesize"]),
            schema: {
                data: function (result) {
                    return result;
                },
                total: function (result) {
                    return result.length;
                }
            },
            change: function () {
                var info = $(".k-grid-pager .info");

                // if it does not exist yet - create it
                if (!info.length) {
                    info = $('<div class="info"/>').appendTo(".k-grid-pager");
                }

                // set the text of the "info" div
                info.text(kendo.format("@(AssetResource.Common.PageDisplay) {0} - {1} of {2}",
                              (this.page() - 1) * this.pageSize() + 1, //first item in the page
                               Math.min(this.page() * this.pageSize(), this.total()), // last item in the page
                               this.total() // all items
                 ));
            }
        });

        $(document).ready(function () {



            $("#grid").kendoGrid({
                dataSource: sharableDataSource,
                height: 470,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [

                        {
                            field: "Name",
                            title: "ModelType Name",
                            width: 290
                        },
                        {
                            field: "Desc",
                            title: "ModelType Description",
                            width: 190
                        },
                        {
                            field: "Manufacturer",
                            title: "Manufacturer",
                            width: 190
                        },
                         {
                             field: "Id",
                             title: " ",
                             template: kendo.template($("#gridtemplate").html()),
                             filterable: false,
                             sortable: false
                         }

                        ]
            });




        });

    });
</script>