﻿@model AssetsInventory.ViewModels.ModelTypeDropdownViewModel

@Html.DropDownList("ModelTypeID", null, new { @style = "width:300px;" }) <a href="javascript:void(0)" id="modeltypelookup" class="lookup">&nbsp;</a>


<script type="text/javascript">
    $(document).ready(function () {
        $(".lookup").button({ icons: { primary: "ui-icon-newwin"} });
        $(".lookup").hide();
        $("#ModelTypeID").kendoDropDownList();

        
         
    });
</script>