﻿@model AssetsInventory.Models.WeightUOM

@{
    ViewBag.Title = "Details";
}

<h2>@AssetResource.Common.Details</h2>

<fieldset>
    <legend>WeightUOM</legend>

    <div class="display-label">WeightUOMDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WeightUOMDescription)
    </div>
     @{Html.RenderPartial("SystemValues", new AssetsInventory.ViewModels.SystemDisplayPageViewModel(Model));}
</fieldset>
<p>
    @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=Model.WeightUOMId }, new { @class="edit-lnk"}) |
    @Html.ActionLink(@AssetResource.Common.BacktoList, "Index", null, new { @class = "redirect-lnk" })
</p>
