﻿@model IEnumerable<AssetsInventory.Models.WeightUOM>

@{
    ViewBag.Title = @AssetResource.AssetResource.WeightUOM;
}

<h2>@AssetResource.AssetResource.WeightUOM</h2>

<p>
    @Html.ActionLink(@AssetResource.Common.CreateNew, "Create", null, new { @class = "create-btn" })
</p>
<table id="weightuom-grid">
    <tr>
        <th data-field="desc">
            WeightUOMDescription
        </th>
        <th data-field="action"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeightUOMDescription)
        </td>
        <td>
            @Html.ActionLink(@AssetResource.Common.Edit, "Edit", new { id=item.WeightUOMId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeightUOMId }) |
            @Html.ActionLink(@AssetResource.Common.Delete, "Delete", new { id=item.WeightUOMId })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#weightuom-grid").kendoGrid({
            height: 250,
            scrollable: {
                virtual: true
            },
            sortable: true

        });

    });
</script>